<div fxLayout="row">
  <mat-form-field appearance="none" floatLabel="always">
    <input [(ngModel)]="searchField" (ngModelChange)="fetchData()" matInput placeholder="Search..." />
  </mat-form-field>
</div>

<div fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="row" fxFlex="60">xxx</div>
  <div fxLayout="row" fxFlex="40">
    <mat-form-field class="selectdropdown" appearance="none">
      <mat-select placeholder="sort by" [(ngModel)]="selectedSortByOption">
        <mat-option
          *ngFor="let option of sortByOptions"
          [value]="option.value"
        >
          {{ option.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</div>


<app-track-list [tracks]="tracks" [hideClose]="hideClose"></app-track-list>

