<file-drop
  (click)="fileInput.click()"
  (onFileDrop)="dropped($event)"
  class="{{ icon }}"
>
  <span *ngIf="!files.length">
    <!-- {{ 'misc.drop_file_here' | translate }} -->
    drop file here
  </span>
  <span *ngIf="files.length">
    hello {{ files[0].name }}
  </span>
</file-drop>
<input
  #fileInput
  (change)="fileChangeEvent($event)"
  [accept]="accept"
  class="file-upload"
  type="file"
/>
