<div *ngIf="user">
  <div fxLayout="row" fxLayoutGap="20px">
    <div fxLayout="column" class="featuredartist" fxLayoutGap="20px">
      <div fxLayout="row">
        <div fxLayout="column" fxFlex="60">
            <h2><span class="ft-color-primary">Artist</span> of the month</h2>
        </div>
        <!--
        <div fxLayout="column" fxFlex="40">
          <a routerLink="/user/profile/{{user.id}}">View profile</a> 
        </div>
      -->
      </div>

      <img
        src="{{user.avatar}}"
        style="border-radius: 16px"
      />
      <div fxLayout="row" class="bar-container">
        <h2 style="margin-top: 19px">
          <div>
            <span class="bg-color-primary bar-padding">{{user.name}}</span>
          </div>
          <div>
            <span class="bg-color-primary bar-padding"><a routerLink="/user/profile/{{user.id}}">View profile</a></span>
          </div>
        </h2>
        <div id="bars">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="10px" class="genre-container">
    <app-genre-mini *ngFor="let genre of user.genres" [genre]="genre"></app-genre-mini>
  </div>

  <button class="login" mat-flat-button color="accent">FOLLOW</button>

  <hr/>

</div>
