<table>
  <tr>
    <th
      *ngFor="let col of columns"
      [style]="col?.style | sanitize:'style'"
    >
      <input
        (input)="filter(col.field, $event.target.value)"
        *ngIf="col?.filter?.type == FILTER_BAR_TYPE.INPUT"
        [(ngModel)]="filters[col.field]"
        [appLabel]="getLabel(col?.header)"
        pInputText
        type="text"
      >
      <p-dropdown
        (onChange)="filter(col.field, $event.value)"
        *ngIf="col?.filter?.type == FILTER_BAR_TYPE.DROPDOWN"
        [(ngModel)]="filters[col.field]"
        [options]="col?.filter?.options"
        [placeholder]="getLabel(col?.header)"
      ></p-dropdown>
      <p-calendar
        (onSelect)="filter(col.field, $event)"
        *ngIf="col?.filter?.type == FILTER_BAR_TYPE.CALENDAR"
        [(ngModel)]="filters[col.field]"
        [locale]="CALENDAR"
        [placeholder]="getLabel(col?.header)"
        [showIcon]="true"
      ></p-calendar>
      <div *ngIf="col.options">
        <i
          (click)="clear()"
          class="anchor pi pi-times"
        ></i>
      </div>
    </th>
  </tr>
</table>
