@import '../../styles.scss';

.forgotpassword {
    padding: 0 32px;
    text-align: center;
    &.backbutton {
        text-align: left;
        color: map-get($mat-accent, main);
    }
    .logo-container {
        margin-bottom: 20px;
        h2 {
            font-weight: 900;
            font-size: xx-large;
            color: map-get($mat-primary, main);
            span {
                color:#fff;
                font-weight:900;
            }
        }
    }
    .login-options {
        padding-top: 16px;
        width: 100%;
        text-align: right;
    }
    hr.forgetpassword{
        margin: 0 0 24px 0;
        width: -webkit-fill-available;
    }
    button {
        width: 100%;
        color: $light-text;
    }
    .footer {
        position: absolute;
        bottom: 8em;
        width: calc(100% - 20%);
    }
}
