@import "../../../styles.scss";
.audio-screen {
    &.minimise {
        background-color: transparent;
        top: initial;
        width: 100%;
        transform: none;
        padding: 0;
    }
    width: calc(100% - 48px);
    padding: 24px 24px 48px 24px;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    .audio-card {
        width: calc(100% - 32px);
        height: 80vh;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #111;
        -webkit-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.5), 0px 0px 40px 0px rgba(0, 0, 0, 0.4);
        box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.5), 0px 0px 40px 0px rgba(0, 0, 0, 0.4);
        .image {
            position: relative;
            min-width: 300px;
            min-height: 300px;
            .cover {
                position: absolute;
                width: 100%;
                left: 0px;
                top: 0px;
            }
        }

        h2,
        h4 {
            padding: 0;
            margin: 0;
        }

        .audio-player-controls {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .audio-player-controls__wrapper {
            position: absolute;
            width: calc(100% - 39px);
            bottom: 0;
            z-index: 0;
            background: #111;
            color: #777;
            font-size: smaller;
            padding: 20px;
            text-align: center;

            .close {
                position: absolute;
                width: 20px;
                height: 20px;
                top: 0;
                right: 16px;
                color: #777;
                &:hover {
                    cursor: pointer;
                }
            }

            .like {
                position: absolute;
                width: 20px;
                height: 20px;
                top: 0;
                left: 16px;
                color: #8D5EEE;
                &:hover {
                    cursor: pointer;
                }
            }

            .download {
                position: absolute;
                width: 20px;
                height: 20px;
                top: 0;
                left: 48px;
                color: #8D5EEE;
                &:hover {
                    cursor: pointer;
                }
            }            

            .screensize {
                position: absolute;
                width: 20px;
                height: 20px;
                top: 0;
                right: 48px;
                color: #777;
                &:hover {
                    cursor: pointer;
                }
            }

            .filter {
                position: absolute;
                top: -135px;
                left: 0;
                width: 100%;
                height: 135px;
                background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#111));
                background: linear-gradient(transparent, #111);
            }

            .timedisplay {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }

        }

        .audio-player-controls__play-pause {
            display: flex;
            justify-content: space-between;
            z-index: 0;
            button {
                border: none;
            }
            i {
                cursor: pointer;
            }
            .play, .pause  {
                background-color: transparent;
                color: map-get($mat-primary, main);
                &.fv, &.dl {
                    .material-icons{
                        font-size: 40px;
                    }              
                }          
                .material-icons{
                    font-size: 60px;
                }
            }
        }

        .audio-player-controls__playlist {
            position: absolute;
            top: 8px;
            left: 8px;
            background: #111;
            border: none;
            .play, .pause  {
                background-color: transparent;
                color: map-get($mat-primary, main);
                border: none;
                &.pl {
                    .material-icons{
                        font-size: 40px;
                    }              
                }          
                .material-icons{
                    font-size: 60px;
                }
            }
        }

        .audio-player-controls__timeline {
            box-sizing: border-box;
            width: 100%;
            height: 20px;
            display: flex;
            position: relative;
            align-items: center;
            z-index: 0;
            padding: 0;
            cursor: pointer;
        }

        .audio-player-controls__timeline__display {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            margin-top: -2px;
            z-index: -1;
        }

        .audio-player-controls__timeline__playhead {
            border-radius: 50%;
            margin-left: -6px;
            &.audio-player-controls__timeline__playhead--start {
                margin-left: -6px !important;
            }
        }
        .audio-player-controls__timeline__played {
            background: #8D5EEE;
            position: absolute;
            left: 0;
            width: 0%;
            height: 4px;
            z-index: +1;
        }

        &.minimise {
            max-width: auto;
            min-width: 300px;
            width: 100%;
            max-height: 100px;
            height: 100px;
            margin: 0 auto;
            position: absolute;
            bottom: 0;
            left: 0;
            top: initial;
            transform: none;
            background-color: #111;
            -webkit-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.5), 0px 0px 40px 0px rgba(0, 0, 0, 0.4);
            box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.5), 0px 0px 40px 0px rgba(0, 0, 0, 0.4);
            .image {
                display: none;
                position: relative;
                min-width: 300px;
                min-height: 300px;
                .cover {
                    position: absolute;
                    width: 100%;
                    left: 0px;
                    top: 0px;
                }
            }
            .timedisplay {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }

            h2,
            h4 {
                padding: 0;
                margin: 0;
                position: relative;
                bottom: -80px;
                font-size: smaller;
            }

            .audio-player-controls {
                display: flex;
                position: relative;
                top: 12px;
                justify-content: space-around;
                align-items: center;
                padding: 0 64px;
            }

            .audio-player-controls__wrapper {
                
                position: relative;
                width: 100%;
                bottom: 0;
                z-index: 0;
                background: #111;
                color: #8D5EEE;
                padding: 0;
                text-align: center;

                .timedisplay {
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    top: -22px;
                    width: 100%;
                    z-index: -1;
                    div {
                        padding: 0 16px;
                    }
                }

                .windowcontrols {
                    position: relative;
                    z-index: 2;
                    top: 0;
                }

                .close {
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    top: 0;
                    right: 0;
                    color: #8D5EEE;
                    &:hover {
                        cursor: pointer;
                    }
                }

                .like {
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    top: 0;
                    left: 0;
                    color: #8D5EEE;
                    &:hover {
                        cursor: pointer;
                    }
                }

                .screensize {
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    top: 16px;
                    left: 16px;
                    color: #8D5EEE;
                }
                .close {
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    top: 16px;
                    right: 16px;
                    color: #8D5EEE;
                }

                .filter {
                    display: none;
                    position: absolute;
                    top: -135px;
                    left: 0;
                    width: 100%;
                    height: 135px;
                    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#111));
                    background: linear-gradient(transparent, #111);
                }
            }

            .audio-player-controls__left {
                //float: left;
            }

            .audio-player-controls__right {
                //float: right;
            }

            .audio-player-controls__play-pause {
                z-index: 0;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                button {
                    border: none;
                }
                i {
                    cursor: pointer;
                }
            }

            .audio-player-controls__playlist {
                display: none;
            }            

            .audio-player-controls__timeline {
                box-sizing: border-box;
                width: 100%;
                height: 50px;
                display: flex;
                position: relative;
                align-items: center;
                z-index: 0;
                padding: 0;
                cursor: pointer;
                top: 0;
            }

            .audio-player-controls__timeline__display {
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                margin-top: -2px;
                z-index: -1;
            }

            .audio-player-controls__timeline__playhead {
                border-radius: 50%;
                margin-left: -6px;
                &.audio-player-controls__timeline__playhead--start {
                    margin-left: -6px !important;
                }
            }
        }
    }
}
