<div
  class="audio-screen"
  [ngClass]="{ minimise: isFullscreen, '': !isFullscreen }"
>
  <div
    class="audio-card"
    [ngClass]="{ minimise: isFullscreen, '': !isFullscreen }"
  >
    <audio #audioPlayer [hidden]="!audioSrc" [src]="audioSrc"></audio>
    <div class="image">
      <img class="cover" [src]="track.cover" alt="Cover" />
      <!--<div class="filter"></div>-->
    </div>
    <!--<div>{{track.url}}</div>-->
    <div class="audio-player-controls__wrapper">
      <div class="windowcontrols">
        <mat-icon
          (click)="closePlayer()"
          class="nav-link-icon mat-icon material-icons ng-star-inserted close"
          role="img"
          aria-hidden="true"
          >close</mat-icon
        >
        <mat-icon
          (click)="togglePlayer()"
          class="nav-link-icon mat-icon material-icons ng-star-inserted screensize"
          role="img"
          aria-hidden="true"
          >{{ toggleStatus }}</mat-icon
        >
        <!--
        <mat-icon
          (click)="likethis(track)"
          class="nav-link-icon mat-icon material-icons ng-star-inserted like"
          role="img"
          aria-hidden="true"
          >{{ favorite }}</mat-icon
        >
      -->
        <a
          *ngIf="djliked"
          href="{{ this.track.versions[0].url }}"
          target="_blank"
          download
        >
          <mat-icon
            class="nav-link-icon mat-icon material-icons ng-star-inserted download"
            role="img"
            aria-hidden="true"
            >{{ download }}</mat-icon
          >
        </a>
      </div>
      <div class="filter"></div>
      <h2>{{ track.title }}</h2>
      <h4 style="opacity: 0.5; top: -35px">{{ track.artistName }}</h4>

      <br />
      <div class="audio-player-controls">
        <div #timeline class="audio-player-controls__timeline">
          <div
            [style.background-color]="config.timelineConfig.timelineColor"
            [style.height.px]="config.timelineConfig.timelineHeight"
            [style.border-radius.px]="config.timelineConfig.timelineHeight"
            [style.opacity]="config.timelineConfig.opacity"
            class="audio-player-controls__timeline__display"
          ></div>
          <div
            [style.background-color]="config.timelineConfig.playheadColor"
            [style.height.px]="config.timelineConfig.playheadHeight"
            [style.width.px]="config.timelineConfig.playheadHeight"
            [style.marginLeft.%]="playheadPosition$ | async"
            #playhead
            class="audio-player-controls__timeline__playhead"
            [ngClass]="{
              'audio-player-controls__timeline__playhead--start':
                !isPlaying &&
                (currentTimeDisplay$ | async | trackTimeDisplay) === 0 &&
                !mousedownIsOnPlayhead
            }"
          ></div>
          <div
            [style.width.%]="playheadPosition$ | async"
            class="audio-player-controls__timeline__played"
          ></div>
        </div>
      </div>
      <div class="timedisplay">
        <div>
          {{ currentTimeDisplay$ | async | trackTimeDisplay }}
        </div>
        <div>
          {{ trackLength$ | async | trackTimeDisplay }}
        </div>
      </div>
      <div class="audio-player-controls__play-pause">
        <button [disabled]="!isReadyForPlayback" class="play fv">
          <span class="material-icons"> favorite_border </span>
        </button>

        <button [disabled]="!isReadyForPlayback" class="play fv">
          <span class="material-icons"> skip_previous </span>
        </button>

        <button
          [disabled]="!isReadyForPlayback"
          *ngIf="!isPlaying"
          class="play"
          (click)="play()"
        >
          <span color="accent" class="material-icons"> play_circle </span>
        </button>

        <button
          [disabled]="!isReadyForPlayback"
          *ngIf="isPlaying"
          class="pause"
          (click)="pause()"
        >
          <span color="accent" class="material-icons"> pause_circle </span>
        </button>

        <button [disabled]="!isReadyForPlayback" class="play fv">
          <span class="material-icons"> skip_next </span>
        </button>

        <button [disabled]="!isReadyForPlayback" class="play dl">
          <span class="material-icons"> get_app </span>
        </button>
      </div>

    </div>
    <div class="audio-player-controls__playlist">
      
      <button [disabled]="!isReadyForPlayback" class="play pl"  (click)="openDialog()">
        <span class="material-icons"> queue_music </span>
      </button>
          
    </div>
  </div>
</div>
