<h2 mat-dialog-title>Versions</h2>
<div mat-dialog-content>
  
  <ul>
    <li *ngFor="let version of data; let i = index" (click)="changeTrack(version)" >
      {{ version.name }}
    </li>
  </ul>
</div>