<div *ngIf="!create && !selectedPlaylist" fxLayout="column" class="content2">
    <h2>My <span class="ft-color-primary">playlists</span></h2>
    <button mat-stroked-button color="accent" (click)="showCreatePlaylist()">Create Playlist</button>

    <div fxLayout="column" fxLayoutGap="10px">
      <app-playlist *ngFor="let playlist of playlists" [playlist]="playlist" (click)="setSelectedPlaylist(playlist)"></app-playlist>
    </div>
</div>

<div *ngIf="create && !selectedPlaylist" fxLayout="column" class="content2" fxLayoutGap="25px">
    <h2>
      <mat-icon (click)="goBack()">keyboard_arrow_left</mat-icon>
      <span class="ft-color-primary">Create</span> a playlist
    </h2>

    <div fxLayout fxLayoutAlign="center center">
        <div fxFlex="100">
          <div fxLayout="row">
            <mat-form-field appearance="none" floatLabel="always">
              <mat-label>Name your playlist</mat-label>
              <input matInput [(ngModel)]="name" />
            </mat-form-field>
          </div>

          <div fxLayout="row">
            <button mat-raised-button color="accent" (click)="savePlaylist()" [disabled]="selectedTracks.length === 0 || !name">Save playlist</button>
          </div>

          <div fxLayout="column" style="margin-top: 25px;">
            <app-track *ngFor="let track of selectedTracks" [track]="track" style="width: 100%;" (click)="deselectTrack(track)"></app-track>
          </div>

          <div fxLayout="row">
            <hr/>
          </div>
      
          <div fxLayout="row">
            <mat-form-field appearance="none" floatLabel="always">
              <mat-label>Tap songs from my liked tracks to add</mat-label>
              <input placeholder="Search..." matInput />
            </mat-form-field>
          </div>

          <app-track *ngFor="let track of likedTracks" [track]="track" (click)="selectTrack(track)" [hideClose]="true"></app-track>
        </div>
      </div>
</div>

<div *ngIf="selectedPlaylist" fxLayout="column" class="content">
  <h2>
    <mat-icon (click)="goBack()">keyboard_arrow_left</mat-icon>
    {{selectedPlaylist.name}}
  </h2>

  <div fxLayout="column">
    <app-track *ngFor="let track  of selectedPlaylist.tracks" [track]="track" [onCloseClickCallback]="removeTrackFromPlaylist(track)"></app-track>
  </div>
</div>