
<div style="width: 100px; margin: auto;">
    <span class="widget-title"><h6>{{label}}</h6></span>
    <div class="widget-wrapper">
        <mat-progress-spinner
            mode="determinate"
            [value]="rand"
        ></mat-progress-spinner>

        <div class="widget-content">
            +{{value || 0}}
        </div>
    </div>
</div>
