.widget-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    font-weight: bold;
    font-size: 19px;
}

.widget-wrapper {
    width: fit-content;
    position: relative;
}

.widget-title {
    width: 100px;
    text-align: center;
}