<div class="wrapper">
  <form [formGroup]="formGroup">
    <div fxLayout fxLayoutAlign="center center">
      <div class="step-form-container" fxFlex="100">
        <hr />
        <h2>Personal <span>details</span></h2>
        <mat-form-field appearance="none" floatLabel="always">
          <mat-label>NAME</mat-label>
          <input formControlName="name" matInput required />
        </mat-form-field>

        <mat-form-field appearance="none" floatLabel="always">
          <mat-label>INSTAGRAM HANDLE</mat-label>
          <input
            formControlName="instagram"
            matInput
            placeholder="@"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="none" floatLabel="always">
          <mat-label>EMAIL</mat-label>
          <input
            formControlName="email"
            matInput
            placeholder="e.g. john@doe.com"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="none" floatLabel="always">
          <mat-label>Area</mat-label>
          <input
            formControlName="city"
            matInput
            placeholder="e.g. London"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="none" floatLabel="always">
          <mat-label>CHOOSE A USERNAME</mat-label>
          <input formControlName="name" matInput />
        </mat-form-field>
        <!-- 'speshmsg' : password.errors?.speshValid -->
        <mat-form-field
          class="nomsg"
          [ngClass]="{
            minlengthmsg: checkError('password', 'minlength'),
            requiredmsg: checkError('password', 'required')
          }"
          appearance="none"
          floatLabel="always"
        >
          <mat-label>CHOOSE A PASSWORD</mat-label>
          <input
            formControlName="password"
            type="password"
            minlength="8"
            matInput
          />
          <mat-hint *ngIf="checkError('password', 'required')"
            >Password must be 8 characters long and include a number and a
            symbol</mat-hint
          >
          <mat-hint *ngIf="checkError('password', 'minlength')"
            >Password must be 8 characters long</mat-hint
          >
          <!--<mat-hint *ngIf="password.errors?.speshValid">Password must symbol and number</mat-hint>-->
        </mat-form-field>

        <mat-form-field appearance="none" floatLabel="always">
          <mat-label>REPEAT PASSWORD</mat-label>
          <input formControlName="passwordRepeat" type="password" matInput />
        </mat-form-field>

        <!--<app-img-crop (onChange)="coverPhotoOnChange($event)"></app-img-crop>-->

        <div class="label">UPLOAD PROFILE PICTURE</div>
        <div
          fxLayout="row"
          fxLayoutGap="15px"
          fxFlexAlign="auto"
          fxLayoutAlign="center center"
          class="upload"
        >
          <div class="cropped">
            <img src="../../../assets/images/random-rocks.png" />
          </div>
          <div class="ulprogress">
            <div
              *ngIf="barvalue > 0"
              [ngStyle]="{ width: barvalue + '%' }"
              class="bar"
            >
              {{ barvalue }}%
            </div>
          </div>
          <div class="cancel">
            <span class="material-icons"> remove_circle_outline </span>
          </div>
        </div>

        <mat-form-field appearance="none" floatLabel="always">
          <mat-label>BIO</mat-label>
          <textarea
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="5"
            cdkAutosizeMaxRows="5"
          ></textarea>
        </mat-form-field>

        <div class="msg">
          Yoiu have not completed all fields please scroll up to check again
        </div>

      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="32px">
      <button mat-stroked-button color="accent" matStepperPrevious>Back</button>
      <button mat-flat-button color="accent"  matStepperNext>Next</button>
    </div>
  </form>
</div>
