@import "../../../styles.scss";
.step-form-container {
  text-align: left;
  h2 {
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 1.2rem;
    color: map-get($mat-primary, main);
    span {
      color: map-get($mat-dark-theme-foreground, base);
    }
  }
  .nomsg {
    margin-bottom: 20px;
  }
  .requiredmsg {
    margin-bottom: 40px;
  }
  .minlengthmsg {
    margin-bottom: 40px;
  }
  .speshmsg {
    margin-bottom: 40px;
  }

  .upload {
    margin-bottom: 32px;
  }

  .cropped {
    width: 30%;
    img {
      width: 100%;
    }
  }

  .ulprogress {
    width: 60%;
    .bar {
      background-color: #7c4dff;
      height: 30px;
      border-radius: 5px;
      color: #fff;
      line-height: 30px;
      font-weight: 900;
      text-align: center;
      -webkit-transition: width 1s ease-in-out;
      -moz-transition: width 1s ease-in-out;
      -o-transition: width 1s ease-in-out;
      transition: width 1s ease-in-out;
    }
  }

  .cancel {
    width: 10%;
    color: map-get($mat-warn, main);
  }

  .label {
    color: rgba(255, 255, 255, 0.4);
    font-size: small;
    margin-bottom: 16px;
  }

  .msg {
      text-align: center;
      border: 2px rgba(255, 255, 255, 0.8) solid;
      border-radius: 6px 6px 6px 6px;
      padding:16px 8px;
      font-size: small;
      color: rgba(255, 255, 255, 0.8);
      margin-bottom: 32px;
  }
  .backbtn {
      margin-bottom: 24px;
  }
}
