<div class="wrapper">
  <form [formGroup]="formGroup">
    <div fxLayout fxLayoutAlign="center center">
      <div class="step-form-container" fxFlex="100">
        <hr />
        <h2>Personal <span>details</span></h2>
        <mat-form-field appearance="none" floatLabel="always">
          <mat-label>NAME</mat-label>
          <input formControlName="name" matInput required />
        </mat-form-field>

        <mat-form-field appearance="none" floatLabel="always">
          <mat-label>INSTAGRAM HANDLE</mat-label>
          <input
            formControlName="instagram"
            matInput
            placeholder="@"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="none" floatLabel="always">
          <mat-label>EMAIL</mat-label>
          <input
            formControlName="email"
            matInput
            placeholder="e.g. john@doe.com"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="none" floatLabel="always">
          <mat-label>AREA</mat-label>
          <input
            formControlName="city"
            matInput
            placeholder="e.g. London"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="none" floatLabel="always">
          <mat-label>CHOOSE A USERNAME</mat-label>
          <input formControlName="username" required matInput />
        </mat-form-field>

        <mat-form-field
          class="nomsg"
          [ngClass]="{
            minlengthmsg: checkError('password', 'minlength'),
            requiredmsg: checkError('password', 'required')
          }"
          appearance="none"
          floatLabel="always"
        >
          <mat-label>CHOOSE A PASSWORD</mat-label>
          <input
            formControlName="password"
            type="password"
            minlength="8"
            matInput
            required
          />
          <mat-hint *ngIf="checkError('password', 'minlength')"
            >Password must be 8 characters long</mat-hint
          >
          <mat-hint align="end" *ngIf="checkError('password', 'speshValid')"
            >Password must contain symbol</mat-hint
          >
        </mat-form-field>

        <mat-form-field appearance="none" floatLabel="always">
          <mat-label>REPEAT PASSWORD</mat-label>
          <input
            formControlName="passwordRepeat"
            type="password"
            matInput
            required
          />
          <mat-hint
            align="end"
            *ngIf="checkError('passwordRepeat', 'passwordValid')"
            >Password must match</mat-hint
          >
        </mat-form-field>
        
        <div class="upload">UPLOAD PICTURE</div>

        <app-img-crop (onChange)="coverPhotoOnChange($event)"></app-img-crop>

        <mat-form-field appearance="none" floatLabel="always">
          <mat-label>BIO</mat-label>
          <textarea
            matInput
            formControlName="bio"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="5"
            cdkAutosizeMaxRows="5"
            placeholder="write a bit about yourself (300 words max)"
          ></textarea>
        </mat-form-field>

      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="32px">
      <button mat-stroked-button color="accent" matStepperPrevious>Back</button>
      <button mat-flat-button color="accent" matStepperNext>Next</button>
    </div>
  </form>
</div>
