<div fxLayout="column" class="full-width">
  <div fxLayout="row" class="full-width">
    <button mat-stroked-button color="accent" (click)="createPlaylist()">Create new playlist</button>
  </div>

  <div fxLayout="row">
    <hr/>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="loading">
    <div fxLayout="column">
      <mat-progress-spinner class="spinner-reset" mode="indeterminate"></mat-progress-spinner>
    </div>
  </div>

  <div fxLayout="row">
    <div fxLayout="column" class="full-width" fxLayoutGap="15px">
      <app-playlist
        *ngFor="let playlist of playlists"
        [playlist]="playlist"
        [showWithZeroTracks]="true"
        (click)="addTrackToPlaylist(playlist)"
      ></app-playlist>
    </div>
  </div>
</div>
