<div fxLayout="column" *ngIf="user">
  <mat-card fxLayout="column" fxLayoutGap="20px">
    <mat-card-content fxLayout="column" fxLayoutGap="16px 0">
      <div fxLayout="row" fxLayoutGap="20px">
        <div fxLayout="column">
          <img
            src="{{user.avatar}}"
            width="100"
            style="border-radius: 16px"
          />
        </div>

        <div fxLayout="column">
          <div fxLayout="row" class="bar-container">
            <h2 style="margin-top: 19px">
              <span class="bg-color-primary bar-padding">{{user.name}}</span>
            </h2>
            <div id="bars">
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
            </div>
          </div>
          <div fxLayout="row">
            <span class="followers">127 followers</span>
          </div>
        </div>
      </div>

      <p>
        {{user.bio}}
      </p>

      <div fxLayout="row" fxLayoutGap="10px">
        <app-genre-mini *ngFor="let genre of user.genres" [genre]="genre"></app-genre-mini>
      </div>

      <hr />

      <h2 class="stats"><span class="ft-color-primary">My</span> Feedback</h2>

      <div fxLayout="column" fxLayoutGap="10px">
        <app-feedback *ngFor="let f of feedback" [feedback]="f"></app-feedback>
      </div>
    </mat-card-content>
  </mat-card>
</div>
