@import "../../../styles.scss";

.followers {
  font-size: smaller;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}
h2.music {
  margin-bottom: 16px;
}
h2.stats,
h1.upgrade {
  margin-top: 0;
  margin-bottom: 32px;
}

button.viewfullstats,
button.login {
  margin-bottom: 0 !important;
}

.bar-container {
  position: relative;
}
.bar-padding {
  padding: 0 8px 5px;
  margin: 0;
}
#bars {
  height: 30px;
  left: 19px;
  margin: -30px 0 0 -20px;
  position: absolute;
  top: 20px;
  width: 105px;
}

.bar {
  background: #666;
  bottom: 1px;
  height: 3px;
  position: absolute;
  width: 5px;
  border-radius: 4px;
  animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
  0% {
    opacity: 0.35;
    height: 3px;
  }
  100% {
    opacity: 1;
    height: 28px;
  }
}

.bar:nth-child(1) {
  left: 1px;
  animation-duration: 474ms;
}
.bar:nth-child(2) {
  left: 11px;
  animation-duration: 433ms;
}
.bar:nth-child(3) {
  left: 22px;
  animation-duration: 407ms;
}
.bar:nth-child(4) {
  left: 33px;
  animation-duration: 458ms;
}
.bar:nth-child(5) {
  left: 44px;
  animation-duration: 400ms;
}
.bar:nth-child(6) {
  left: 55px;
  animation-duration: 427ms;
}
.bar:nth-child(7) {
  left: 66px;
  animation-duration: 441ms;
}
.bar:nth-child(8) {
  left: 77px;
  animation-duration: 419ms;
}
.bar:nth-child(9) {
  left: 88px;
  animation-duration: 487ms;
}
.bar:nth-child(10) {
  left: 99px;
  animation-duration: 442ms;
}
