.mat-progress-bar-element {
    background-color: black;
}

.mat-progress-bar .mat-progress-bar-fill {
    transition-duration: 100ms !important;
}

.mat-progress-spinner circle {
    stroke-linecap: round;
    stroke-width: 20% !important;
    stroke: #B794FF !important;
 }

