.mat-tab-group {
    width: 100vw;
    margin-left: -30px;
  }
  
  .mat-tab-labels {
    justify-content: space-around;
    padding: 0;
    flex-direction: row;
  }
  
  .mat-tab-label {
    width: 50%; // TODO: only works with 2 tab labels
    text-transform: uppercase;
    font-size: 10px;
  }
  
  .mat-tab-body-wrapper {
    margin-top: 30px;
  }