.mat-form-field {
    width: 100%;
    margin-bottom: 20px;;
  }
  
  .mat-form-field-infix {
    //left: -10px;
    //top: -50px;
    width: auto !important;
  }
  
  .selectdropdown .mat-form-field-infix {
    padding: 0 !important;
  }
  
  .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 16px 16px 16px 16px !important;
  }
  
  .mat-input-element  {
    background:#242424 !important;
    line-height: 2em !important;
    padding: 8px 12px !important;
    border-radius: 6px 6px 6px 6px !important;
    width: -webkit-fill-available !important;
  }
  
  .mat-form-field-wrapper {
    position: relative;
    padding-bottom: 8px;
  }
  
  .mat-form-field-label-wrapper {
    overflow: unset !important;
  }
  .mat-form-field-label {
    top: 8px !important;
    color: rgba(255, 255, 255, 0.4);
  }
  
  .mat-form-field-subscript-wrapper { /*may have to set this more local to the component, we'll see*/
    top: calc(100% - 1em);
  }

  .mat-select-placeholder {
    padding: 0 16px;
  }

  .mat-standard-chip {
    padding: .5em .85em;
    min-height: 2.5em;
  }