.mat-step-header .mat-step-icon {
    //background-color: #000;
    //border: 2px solid #383838;
}

.mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::before, [dir=rtl] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::before, .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::after, [dir=rtl] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::after {
    width: calc(50% - 14px) !important;
}

.mat-list-base .mat-list-item {
    font-size: 14px;
}

.mat-horizontal-content-container {
    padding: 0 0 0 0 !important;
    position: relative;
    top: -16px;
}

