.mat-drawer-backdrop.mat-drawer-shown {
    background:rgba(16, 16, 16, 1) url("/assets/images/menu.png") no-repeat right top fixed;
  }

  .mat-drawer-container {
    //background-image: linear-gradient(#171717, #0c0c0c);
    //background: rgb(23,23,23);
    background: linear-gradient(0deg, rgba(12,12,12,1) 0%, rgba(18,18,18,1) 50%, rgba(23,23,23,1) 100%);
  }