.mat-flat-button.mat-primary, .mat-flat-button.mat-accent {
    padding: 0;
    width: 100%;
    margin: 0 0 24px 0;
  }

.mat-raised-button, .mat-stroked-button, .mat-flat-button {
  padding: 0 1.15em;
  margin: 0 .65em;
  min-width: 3em;

  width: 100%; // TODO possibly make it optional class...
  height: 40px;

  text-transform: uppercase;
  font-size: 10px;
  line-height: 12px;
}

.mat-stroked-button.genre {
  width: 60px;
}

.mat-stroked-button.mat-accent {
  border: 1px solid map-get($mat-accent, main);
  color: white;
}

.mat-flat-button.mat-accent {
  background-color: map-get($mat-accent, main);
}

.mat-stroked-button.mat-accent {
  margin: 0;
  margin-bottom: 24px;
}