.mat-icon {
    //color: map-get($mat-accent, main);
  }

  .material-icons {
    font-size: 24px;
    font-family: 'Material Icons', 'Material Icons';
    .mat-badge-content {
      font-family: 'Roboto';
    }
  }