
<app-bank-details [user]="user" ></app-bank-details>
<hr />
<h2><span>Select</span> your package</h2>
<mat-accordion class="example-headers-align">
  <form [formGroup]="formGroup">
    <!--loop packages-->

    <mat-expansion-panel
      *ngFor="let package of packages; let i = index"
      [ngStyle]="{ opacity: pkg_highlight[i] ? 1 : 0.25 }"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>{{ package.name }}</mat-panel-title>
      </mat-expansion-panel-header>
      <h2>£{{ package.sub_price / 100 }}</h2>
      <div
        class="highlight-pointers"
        [ngClass]="{
          highlight: pkg_highlight[i],
          nohighlight: !pkg_highlight[i]
        }"
      >
        <div class="left-arrow">
          <span class="material-icons"> arrow_left </span>
        </div>
        <div class="right-arrow">
          <span class="material-icons"> arrow_right </span>
        </div>
      </div>
      <h4>WHATS INCLUDED</h4>
      <div class="signup_spacing">
        {{ package.description }}
      </div>
      <button
        mat-flat-button
        color="accent"
        class="signup_spacing"
        (click)="pickPackage(package.id)"
      >
        PURCHASE
      </button>
    </mat-expansion-panel>

    <!--loop packages-->
   
    <hr />

  <div fxLayout="row" fxLayoutAlign="center center">
    <button
      (click)="orderNewCampaign()"
      [disabled]="!formGroup.valid"
      class="complete-button"
      color="primary"
      mat-flat-button
    >
      Order New Campaign
    </button>
  </div>

</form>
</mat-accordion>
