<div class="wrapper">
    <form [formGroup]="formGroup">
      <h1>Choose your genres</h1>
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="column">
          <mat-button-toggle-group class="genres-wrapper" formControlName="genres" fxLayout="row wrap"
                                   fxLayoutAlign="center center"
                                   multiple>
            <mat-button-toggle *ngFor="let genre of genres" [value]="genre.name"
                               class="genre" [class.selectedGenre]="formGroup.controls['genres'].value.includes(genre.name)">{{genre.name}}</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
  
      <div fxLayout="row" fxLayoutGap="15px">
        <button mat-stroked-button color="accent" matStepperPrevious>Back</button>
        <button mat-flat-button color="accent" matStepperNext>Next</button>
      </div>
    </form>
  </div>
  