.genres-wrapper {
    border: none;
  }
  
  .genre {
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    width: 130px;
    height: 110px;
    text-align: center;
  
    background-color: transparent !important;
    background-image: url("../../../assets/design_assets/02tapes_icon.png");
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin: 10px;
  }
  
  .genre:nth-child(1) {
    border: 1px solid #8796FF;
  }
  
  .genre:nth-child(2) {
    border: 1px solid #8ADDFF;
  }
  
  .genre:nth-child(3) {
    border: 1px solid #A3FFD3;
  }
  
  .genre:nth-child(4) {
    border: 1px solid #FA8AF2;
  }
  
  .genre:nth-child(5) {
    border: 1px solid #FDB296;
  }
  
  .genre:nth-child(6) {
    border: 1px solid #FFD091;
  }
  
  .genre:nth-child(7) {
    border: 1px solid #8796FF;
  }
  
  .selectedGenre {
    color: black;
  }
  
  .selectedGenre:nth-child(1) {
    background-color: #8796FF !important;
  }
  
  .selectedGenre:nth-child(2) {
    background-color: #8ADDFF !important;
  }
  
  .selectedGenre:nth-child(3) {
    background-color: #A3FFD3 !important;
  }
  
  .selectedGenre:nth-child(4) {
    background-color: #FA8AF2 !important;
  }
  
  .selectedGenre:nth-child(5) {
    background-color: #FDB296 !important;
  }
  
  .selectedGenre:nth-child(6) {
    background-color: #FFD091 !important;
  }
  
  .selectedGenre:nth-child(7) {
    background-color: #8796FF !important;
  }
  