<div fxLayout="column" class="content2">
    <h2>My <span class="ft-color-primary">artists</span></h2>

    <app-user-preview *ngFor="let artist of artists" [user]="artist"></app-user-preview>
</div>
