<div class="flex-container" fxLayout="row wrap" *ngIf="metrics">
  <div class="stat-item-container">
    <app-metric-widget [value]="metrics.followers" label="follows"></app-metric-widget>
  </div>
  <div class="stat-item-container">
    <app-metric-widget [value]="metrics.plays" label="plays"></app-metric-widget>
  </div>
  <div class="stat-item-container">
    <app-metric-widget [value]="metrics.likes" label="likes"></app-metric-widget>
  </div>
  <div class="stat-item-container">
    <app-metric-widget [value]="metrics.shares" label="shares"></app-metric-widget>
  </div>
  <div class="stat-item-container">
    <app-metric-widget [value]="metrics.downloads" label="downloads"></app-metric-widget>
  </div>  
</div>
