<mat-nav-list>

    <a mat-list-item (click)="onSidenavClose()">
        <svg fill="none" height="28" viewBox="0 0 28 28" width="28" xmlns="http://www.w3.org/2000/svg"><path d="M4 7C4 6.44771 4.44772 6 5 6H24C24.5523 6 25 6.44771 25 7C25 7.55229 24.5523 8 24 8H5C4.44772 8 4 7.55229 4 7Z" fill="white"/><path d="M4 13.9998C4 13.4475 4.44772 12.9997 5 12.9997L16 13C16.5523 13 17 13.4477 17 14C17 14.5523 16.5523 15 16 15L5 14.9998C4.44772 14.9998 4 14.552 4 13.9998Z" fill="white"/><path d="M5 19.9998C4.44772 19.9998 4 20.4475 4 20.9998C4 21.552 4.44772 21.9997 5 21.9997H22C22.5523 21.9997 23 21.552 23 20.9998C23 20.4475 22.5523 19.9998 22 19.9998H5Z" fill="white"/></svg>
    </a>

    <a mat-list-item routerLink="/" (click)="onSidenavClose()">
        <span class="nav-caption">HOME</span>
    </a>

  <a mat-list-item routerLink="/search" (click)="onSidenavClose()">
    <span class="nav-caption">SEARCH</span>
  </a>

  <a mat-list-item routerLink="/user/dashboard" (click)="onSidenavClose()">
    <span class="nav-caption">DASHBOARD</span>
  </a>

    <a mat-list-item routerLink="/user/profile" (click)="onSidenavClose()">
        <span class="nav-caption">MY PROFILE</span>
    </a>

  <a mat-list-item routerLink="/user/library" (click)="onSidenavClose()">
    <span class="nav-caption">LIBRARY</span>
  </a>
<!--
    <mat-list-item [matMenuTriggerFor]="menu">
        <mat-icon>unfold_more</mat-icon>
        <a matline>Designs</a>
    </mat-list-item>
    <mat-menu #menu="matMenu">
        <a mat-list-item routerLink="/page1" (click)="onSidenavClose()">
            <mat-icon></mat-icon> <span class="nav-caption">Page1</span>
        </a>
        <a mat-list-item routerLink="/page2" (click)="onSidenavClose()">
            <mat-icon></mat-icon> <span class="nav-caption">Page2</span>
        </a>
        <a mat-list-item routerLink="/page3" (click)="onSidenavClose()">
            <mat-icon></mat-icon> <span class="nav-caption">Page3</span>
        </a>
        <a mat-list-item routerLink="/page4" (click)="onSidenavClose()">
            <mat-icon></mat-icon> <span class="nav-caption">Page4</span>
        </a>
        <a mat-list-item routerLink="/page5" (click)="onSidenavClose()">
            <mat-icon></mat-icon> <span class="nav-caption">Page5</span>
        </a>
        <a mat-list-item routerLink="/page7" (click)="onSidenavClose()">
            <mat-icon></mat-icon> <span class="nav-caption">Page7</span>
        </a>
        <a mat-list-item routerLink="/page10" (click)="onSidenavClose()">
            <mat-icon></mat-icon> <span class="nav-caption">Page10</span>
        </a>
    </mat-menu>
-->
    <a mat-list-item (click)="logout()">
        <span class="nav-caption">LOG OUT</span>
    </a>
</mat-nav-list>
