<form
  [formGroup]="form"
  novalidate
>
  <span class="ui-float-label">
    <textarea
      [rows]="5"
      formControlName="control"
      pInputTextarea
    ></textarea>
    <label>
      {{ label }}
    </label>
  </span>
  <error-display
    [errors]="form.get('control').errors"
    [visibility]="form.get('control').touched"
  >
  </error-display>
</form>
