@import "../../../styles.scss";

.wrapper {
  height: 100px;

  mat-card {
    position: relative;
    z-index: 3;
    width: 100%;
    padding: 16px !important;
    border-radius: 8px 8px 8px 8px !important;
    background-color: map-get($mat-dark-theme-background, background);
  }

  h3 {
    margin-bottom: 0;
  }

  .placeholder-playlist-cover {
    height: 70px;
    width: 70px;

    background-color: grey;
    border-radius: 8px;
  }
}
