<div *ngIf="playlist && (showWithZeroTracks || playlist.tracks.length > 0)" fxLayout="column" class="wrapper">
    <mat-card fxLayout="column" style="height: 100%">
      <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="16px">
        <div fxLayout="column" style="width: 100%">
          <div
            fxLayout="row"
            fxLayoutAlign="space-between center"
            fxLayoutGap="16px"
          >
            <div fxLayout="column" class="playlist-img">
              <img
                *ngIf="playlist.tracks.length > 0"
                alt="Playlist"
                src="{{ playlist.tracks[0].cover}}"
                width="70"
                style="border-radius: 8px"
              />

              <div
                class="placeholder-playlist-cover"
                *ngIf="playlist.tracks.length === 0"
              >
              </div>
            </div>

            <div fxLayout="column" style="width: 100%">
              <h3 style="margin-top: 0; text-align: left">{{ playlist.name }}</h3>
            </div>

            <div fxLayout="column" fxFlexAlign="end end">
              <mat-icon>keyboard_arrow_right</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
