<form
  [formGroup]="form"
  class="ui-g filter-box"
>
  <div
    *ngFor="let filter of filters; trackBy:trackByFn"
    [style.width.%]="100 / (filters.length + 1)"
    class="ui-g-2"
  >
    <input
      (keyup)="onChange()"
      *ngIf="filter.type == FILTER_BAR_TYPE.INPUT"
      [formControlName]="filter.name"
      [placeholder]="filter.label"
      pInputText
      type="text"
    >
    <p-dropdown
      (ngModelChange)="onChange()"
      *ngIf="filter.type == FILTER_BAR_TYPE.DROPDOWN"
      [filter]="filter?.options.length > 5"
      [formControlName]="filter.name"
      [options]="filter?.options"
      [placeholder]="filter?.label"
    >
      <ng-template let-item pTemplate="item">
        {{ item.label }}
      </ng-template>
    </p-dropdown>
  </div>
  <div
    [style.width.%]="100 / (filters.length + 1)"
    class="ui-g-2 text-right"
  >
    <p-button
      (click)="search()"
      [label]="'general.search' | translate"
      styleClass="ui-button color"
    ></p-button>
  </div>
  <a
    (click)="reset()"
    class="reset-filters-button"
  >
    {{ 'button.reset_filters' | translate }}
  </a>
</form>
