@import "../../styles.scss";

.register {
  padding: 0 32px;
  text-align: center;
  .title {
    position: relative;
    .backbutton {
      position: absolute;
      top: 0;
      left: 0;
      line-height: 52px;
      color: map-get($mat-accent, main);
    }
  }
  margin-bottom: 20px;
  h2 {
    font-weight: 900;
    font-size: xx-large;
    color: map-get($mat-primary, main);
    margin: 0;
    span {
      color: #fff;
      font-weight: 900;
    }
  }
}
.register-container {
  padding: 0 32px;
  overflow: hidden;
  height: calc(
    100vh - 93px
  ); // needs to be changed when there is no toolbar 88px I think
  text-align: center;
  background: map-get($mat-dark-theme-background, background);
  border-radius: 16px 16px 0 0;
  .material-icons {
    font-size: 6rem;
  }
  .registerCTA {
    position: relative;
    font-size: x-small;
    letter-spacing: 2px;
    &.highlight {
      color: map-get($mat-dark-theme-foreground, base);
    }
    &.nohighlight {
      color: map-get($mat-dark-theme-foreground, disabled-text);
    }
    .highlight-pointers {
      &.highlight {
        color: map-get($mat-primary, main);
        display: block;
      }
      &.nohighlight {
        display: none;
      }
      &.starthighlight {
        display: none;
      }
      .left-arrow .material-icons {
        position: absolute;
        top: 50%;
        right: -44px;
        font-size: 2rem;
      }
      .right-arrow .material-icons {
        position: absolute;
        top: 50%;
        left: -44px;
        font-size: 2rem;
      }
    }
  }
  span.usertype {
    color: map-get($mat-primary, main);
  }
  hr.register {
    margin: 40px 0;
    width: -webkit-fill-available;
  }
}
