<div fxLayout fxLayoutAlign="center center" class="register">
  <div fxFlex="100">
        <div fxLayout="row">
          <div fxLayout="column" fxLayoutAlign="center center" fxFlex class="title">
            <div class="backbutton">
                <span (click)="backClicked()" class="material-icons"> arrow_back_ios </span>
            </div>
            <h2><span>Register</span></h2>
          </div>
        </div>
  </div>
</div>

<div fxLayout fxLayoutAlign="center center" class="register-container">
  <div fxFlex="100">

    <div fxLayout="row" class="registerCTA" [ngClass]="{'highlight': dj, 'nohighlight' : artist}" (click)="chooseUserType('dj')">
      <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
        <span class="material-icons"> headset </span>
        <div>I AM A <span class="usertype">DJ</span></div>
        <div class="highlight-pointers" [ngClass]="{'highlight': dj, 'nohighlight' : artist, 'starthighlight' : starter}" (click)="chooseUserType('dj')">
          <div class="left-arrow">
            <span class="material-icons"> arrow_left </span>
          </div>
          <div class="right-arrow">
            <span class="material-icons"> arrow_right </span>
          </div>
        </div>
      </div>
    </div>

    <hr class="register" />

    <div fxLayout="row" class="registerCTA" [ngClass]="{'highlight': artist, 'nohighlight' : dj}" (click)="chooseUserType('artist')">
      <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
        <span class="material-icons"> music_note </span>
        <div>I AM AN <span class="usertype">ARTIST</span></div>
        <div class="highlight-pointers" [ngClass]="{'highlight': artist, 'nohighlight' : dj, 'starthighlight' : starter}" (click)="chooseUserType('dj')">
          <div class="left-arrow">
            <span class="material-icons"> arrow_left </span>
          </div>
          <div class="right-arrow">
            <span class="material-icons"> arrow_right </span>
          </div>
        </div>
      </div>
    </div>

    <hr class="register" />

    <div fxLayout="row" class="footer">
      <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
        <div>Do you have an account? <a herf="">Sign up</a></div>
      </div>
    </div>
  </div>
</div>
