<div fxLayout fxLayoutAlign="center center" class="register">
    <div fxFlex="100">
          <div fxLayout="row">
            <div fxLayout="column" fxLayoutAlign="center center" fxFlex class="title">
              <div class="backbutton">
                  <span (click)="backClicked()" class="material-icons"> arrow_back_ios </span>
              </div>
              <h2><span>Register</span></h2>
            </div>
          </div>
    </div>
  </div>
  
  <div fxLayout fxLayoutAlign="center" class="register-container">
    <div fxFlex="100">
    
      <mat-horizontal-stepper #stepper [linear]="true" labelPosition="bottom" style="background: none; color: white;">
        <mat-step [completed]="yourDetailsCompleted()">
          <app-signup-user-details-step [formGroup]="formGroup"></app-signup-user-details-step>
        </mat-step>
    
        <mat-step [completed]="yourGenresCompleted()">
          <app-signup-genres-step [formGroup]="formGroup"></app-signup-genres-step>
        </mat-step>
    
        <mat-step [completed]="passwordCompleted()">
          <app-signup-password-step [formGroup]="formGroup"></app-signup-password-step>
          gigs
        </mat-step>
    <!--
        <mat-step [completed]="genresCompleted()">
          <ng-template matStepLabel>Genres</ng-template>
          <app-signup-genres-step [formGroup]="formGroup"></app-signup-genres-step>
        </mat-step>
    
        <mat-step>
          <ng-template matStepLabel>Review</ng-template>
          <h1>Review</h1>
          <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="25px" fxLayoutGap.xs="0">
            <div class="review-column" fxLayout="column">
              <h3>Your details</h3>
    
              <p>Name - {{formGroup.controls["name"].value}}</p>
              <p>Email - {{formGroup.controls["email"].value}}</p>
              <p>City - {{formGroup.controls["city"].value}}</p>
              <p>Instagram - {{formGroup.controls["instagram"].value || "None"}}</p>
              <p>Twitter - {{formGroup.controls["twitter"].value || "None"}}</p>
              <p>Website - {{formGroup.controls["web"].value || "None"}}</p>
            </div>
    
            <div class="review-column" fxLayout="column">
              <h3>Free Upload</h3>
    
              <p>
                With our free option your first upload is free. All you have to do is log back into your account, press
                upload and you will be taken through the upload process.
              </p>
    
              <p>
                If you wish to purchase an upgrade, go to our pricing page and purchase once logged in.
              </p>
            </div>
    
            <div class="review-column" fxLayout="column">
              <h3>Your profile & genres</h3>
    
              <p>Bio - {{formGroup.controls["bio"].value}}</p>
    
              <p *ngFor="let genre of formGroup.controls['genres'].value">{{genre}}</p>
            </div>
          </div>
    
          <div fxLayout="row" fxLayoutAlign="center center">
            <mat-form-field>
              <mat-label>Invite code</mat-label>
              <input [(ngModel)]="inviteCode" matInput>
            </mat-form-field>
          </div>
    
          <div fxLayout="row" fxLayoutAlign="center center">
            <button (click)="completeSignup()" [disabled]="!formGroup.valid || !inviteCode" class="complete-button"
                    color="primary"
                    mat-flat-button>Complete
            </button>
          </div>
        </mat-step>
    -->
      </mat-horizontal-stepper>
  
      <div fxLayout="row" class="footer">
        <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
          <div>Do you have an account? <a herf="">Sign up</a></div>
        </div>
      </div>
    </div>
  </div>
  