<mat-form-field appearance="none" floatLabel="always">
  <mat-label>Comment</mat-label>
  <textarea type="text" [(ngModel)]="comment" required matInput ></textarea>
</mat-form-field>

<div fxLayout="column" fxLayoutGap="15px">
  <button mat-flat-button color="accent" matDialogClose (click)="addComment()" [disabled]="!comment">Add</button>
  <button mat-stroked-button matDialogClose>Cancel</button>
</div>
