<p-table
  (onPage)="changePage($event)"
  [lazy]="true"
  [paginator]="list?.totalElements > list?.size"
  [rows]="list?.size"
  [totalRecords]="list?.totalElements"
  [value]="list?.content"
>
  <ng-template
    *ngIf="table?.filterBarVisibility"
    pTemplate="caption"
  >
    <app-filter-bar
      (onFilter)="filter($event)"
      [columns]="table?.columns"
    ></app-filter-bar>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th
        *ngFor="let col of table?.columns"
        [style]="col?.style | sanitize:'style'"
      >
        {{ col.header }}
      </th>
    </tr>
  </ng-template>
  <ng-template
    let-rowData
    pTemplate="body"
  >
    <tr>
      <td *ngFor="let col of table?.columns">
        <div *ngIf="col.field">
          <span *ngIf="col?.modifier?.name === 'date'">
            {{ rowData[col.field] | date:col?.modifier?.value }}
          </span>
          <span *ngIf="col?.modifier?.name === 'selectItem'">
            <a (click)="runModifierCommand(col.modifier, rowData[col.field]?.value)">
              {{ rowData[col.field]?.label }}
            </a>
          </span>
          <span *ngIf="col?.modifier?.name === 'translate'">
            {{ translateLabel(col?.modifier?.value, rowData[col.field])}}
          </span>
          <span *ngIf="col?.modifier?.name === 'currency'">
            {{ rowData[col.field] | currency:col?.modifier?.value}}
          </span>
          <span *ngIf="!col?.modifier">
            {{ rowData[col.field] }}
          </span>
        </div>
        <div *ngIf="col.options">
          <i
            (click)="option.command(rowData['id'])"
            *ngFor="let option of col.options"
            class="anchor {{ option.icon }}"
          ></i>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
