<div fxLayout="row" fxLayoutAlign="start center" class="forgotpassword backbutton">
  <div fxFlex="100" >
    <span (click)="backClicked()" class="material-icons">
      arrow_back_ios
      </span>
  </div>
</div>
<div fxLayout fxLayoutAlign="center center" class="forgotpassword">
    <div fxFlex="100">
      <div fxLayout="row" fxLayoutAlign="center center" class="logo-container">
        <div fxFlex="100">
          <div fxLayout="row">
            <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
              <h2>Forgot <span>password</span></h2>
            </div>
          </div>
        </div>
      </div>
  
      <div fxLayout="row">
        Thanks, al link has been sent to reset your password
      </div>
    
      <div fxLayout="row" class="footer">
        <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
          <div>
            Do you have an account? <a herf="">Sign up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  