<p-confirmDialog
  #confirmDialog
  [closable]="true"
  [header]="header"
>
  <p-footer class="ui-g">
    <div class="ui-g-6 text-left">
      <p-button
        (click)="confirmDialog.reject()"
        [label]="noLabel"
        styleClass="ui-button grey"
        type="button"
      >
      </p-button>
    </div>
    <div class="ui-g-6">
      <p-button
        (click)="confirmDialog.accept()"
        [label]="yesLabel"
        styleClass="ui-button red"
        type="button"
      >
      </p-button>
    </div>
  </p-footer>
</p-confirmDialog>
<p-toast position="bottom-right"></p-toast>
