h1 {
    text-align: center;
  }

  h6 {
    text-transform: uppercase;
    color: #979797;
    letter-spacing: 2px;
  }

  hr {
    mix-blend-mode: normal;
    opacity: 0.25;
    border: 1px dashed #979797;
    width: 100%;
    margin: 32px 0;
  }

  .hr-straight {
    border: 1px solid #979797;
  }

  .content {
    width: calc(100% - 64px);
    margin: auto;
  }

  .content2 {
    width: calc(100% - 32px);
    margin: auto;
  }

  .full-width {
    width: 100%;
  }

  .full-height {
    height: 100%;
  }

  .right-align {
    display: flex;
    margin-left: auto;
  }

  .bg-color-primary {
    background-color: map-get($mat-primary, main);
  }

  .bg-color-accent {
    background-color: map-get($mat-accent, main);
  }

  .ft-color-primary {
    color: map-get($mat-primary, main);
  }

  .ft-color-accent {
    color: map-get($mat-accent, main);
  }

  .ft-color-grey {
    color: darkgrey;
  }

  input {
    background-color: #232323;
    border: none;
    color: white;
    padding: 8px;
    border-radius: 3px;
  }

  .subtext {
    color: grey;
    font-size: 10px;
  }

  a {
    color: map-get($mat-accent, main);
  }
  .footer {
    margin-bottom:32px;
  }
