<div fxLayout="row" fxLayoutAlign="start center" class="forgotpassword backbutton">
  <div fxFlex="100" >
    <span (click)="backClicked()" class="material-icons">
      arrow_back_ios
      </span>
  </div>
</div>
<div fxLayout fxLayoutAlign="center center" class="forgotpassword">
  
    <div fxFlex="100">
      <div fxLayout="row" fxLayoutAlign="center center" class="logo-container">
        <div fxFlex="100">
          <div fxLayout="row">
            <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
              <h2>Forgot <span>password</span></h2>
            </div>
          </div>
        </div>
      </div>
  
      <div fxLayout="row">
        <mat-form-field class="forgetpassword" appearance="none" floatLabel="always">
          <mat-label>EMAIL</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
    
      <hr class="forgetpassword" />
      <div fxLayout="row">
        <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
              <button mat-flat-button color="accent">LOGIN</button>
        </div>
      </div>
      <div fxLayout="row" class="footer">
        <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
          <div>
            Do you have an account? <a herf="">Sign up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  