<div fxLayout="column" class="full-width">
  <div fxLayout="row" class="full-width">
    <button mat-flat-button color="accent" (click)="createComment()">Add a comment</button>
  </div>

  <div fxLayout="row">
    <hr/>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="loading">
    <div fxLayout="column">
      <mat-progress-spinner class="spinner-reset" mode="indeterminate"></mat-progress-spinner>
    </div>
  </div>

  <div *ngFor="let comment of comments">
    <h6>{{comment.date.toDateString()}} By {{comment.userName}}</h6>

    <p>{{comment.comment}}</p>

    <hr/>
  </div>
</div>
