<!-- dj and artist picker -->
<div
  *ngIf="usertype === ''"
  fxLayout
  fxLayoutAlign="center center"
  class="register-container"
>
  <div fxFlex="100">
    <div
      fxLayout="row"
      class="registerCTA"
      [ngClass]="{ highlight: dj, nohighlight: artist }"
      (click)="chooseUserType('dj')"
    >
      <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
        <span class="material-icons"> headset </span>
        <div>I AM A <span class="usertype">DJ</span></div>
        <div
          class="highlight-pointers"
          [ngClass]="{
            highlight: dj,
            nohighlight: artist,
            starthighlight: starter
          }"
          (click)="chooseUserType('dj')"
        >
          <div class="left-arrow">
            <span class="material-icons"> arrow_left </span>
          </div>
          <div class="right-arrow">
            <span class="material-icons"> arrow_right </span>
          </div>
        </div>
      </div>
    </div>

    <hr class="register" />

    <div
      fxLayout="row"
      class="registerCTA"
      [ngClass]="{ highlight: artist, nohighlight: dj }"
      (click)="chooseUserType('artist')"
    >
      <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
        <span class="material-icons"> music_note </span>
        <div>I AM AN <span class="usertype">ARTIST</span></div>
        <div
          class="highlight-pointers"
          [ngClass]="{
            highlight: artist,
            nohighlight: dj,
            starthighlight: starter
          }"
          (click)="chooseUserType('dj')"
        >
          <div class="left-arrow">
            <span class="material-icons"> arrow_left </span>
          </div>
          <div class="right-arrow">
            <span class="material-icons"> arrow_right </span>
          </div>
        </div>
      </div>
    </div>

    <hr class="register" />

    <button
      *ngIf="usertypeSelected"
      (click)="startRegistry()"
      mat-flat-button
      color="accent"
    >
      REGISTER
    </button>

    <div fxLayout="row" class="footer">
      <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
        <div>Do you have an account? <a herf="">Sign up</a></div>
      </div>
    </div>
  </div>
</div>

<!-- dj and artist sign up steps -->

<div
  *ngIf="usertype !== ''"
  fxLayout
  fxLayoutAlign="center"
  class="register-container"
>
  <div fxFlex="100">
    <mat-horizontal-stepper
      *ngIf="usertype === 'dj'"
      #stepper
      [linear]="true"
      labelPosition="bottom"
      style="background: none; color: white"
    >
      <mat-step [completed]="yourDetailsCompleted()">
        DJ
        <app-signup-user-details-step
          [formGroup]="formGroup"
        ></app-signup-user-details-step>
      </mat-step>

      <mat-step [completed]="yourGenresCompleted()">
        Genres
        <app-signup-genres-step
          [formGroup]="formGroup"
        ></app-signup-genres-step>
      </mat-step>

      <mat-step [completed]="whereYouPlayCompleted()">
        Gigs
        <app-signup-gigs-step [formGroup]="formGroup"></app-signup-gigs-step>
      </mat-step>

      <mat-step>
        <div class="review">
          <hr />
          <h2><span>Review</span></h2>
          <div fxLayout="column" fxLayoutAlign="space-around start">
            <div fxLayout="row wrap">
              <h3>Your <span class="tapestheme">details</span></h3>

              <p>Name : {{ formGroup.controls["name"].value }}</p>
              <p>Email : {{ formGroup.controls["email"].value }}</p>
              <p>City : {{ formGroup.controls["city"].value }}</p>
              <p>
                Instagram :
                {{ formGroup.controls["instagram"].value || "None" }}
              </p>
              <p>
                Twitter : {{ formGroup.controls["twitter"].value || "None" }}
              </p>
              <p>Website : {{ formGroup.controls["web"].value || "None" }}</p>
            </div>

            <hr />

            <div fxLayout="row wrap">
              <h3>Where <span class="tapestheme">you play</span></h3>

              <h4>Podcasts</h4>
              <ul>
                <li
                  *ngFor="let podcast of formGroup.controls['podcasts'].value"
                >
                  {{ podcast.gig }}
                </li>
              </ul>

              <h4>Radio Stations</h4>
              <ul>
                <li
                  *ngFor="
                    let radio of formGroup.controls['radioStations'].value
                  "
                >
                  {{ radio.gig }}
                </li>
              </ul>

              <h4>Clubs</h4>
              <ul>
                <li *ngFor="let club of formGroup.controls['clubs'].value">
                  {{ club.gig }}
                </li>
              </ul>

              <h4>Other</h4>
              <ul>
                <li *ngFor="let other of formGroup.controls['other'].value">
                  {{ other.gig }}
                </li>
              </ul>
            </div>

            <hr />

            <div fxLayout="row wrap">
              <h3>Your <span class="tapestheme">profile & genres</span></h3>

              <p>Bio : {{ formGroup.controls["bio"].value || "None" }}</p>

              <p *ngFor="let genre of formGroup.controls['genres'].value">
                {{ genre }}
              </p>
            </div>
          </div>

          <!--! bank stuff 

          <hr />
          <form [formGroup]="formGroup">
            <h2>Banking <span class="tapestheme">details</span></h2>
            <mat-form-field appearance="none" floatLabel="always">
              <mat-label>BANK</mat-label>
              <input formControlName="bank" matInput required />
            </mat-form-field>

            <mat-form-field appearance="none" floatLabel="always">
              <mat-label>SORT CODE</mat-label>
              <input formControlName="sortCode" matInput required />
            </mat-form-field>

            <mat-form-field appearance="none" floatLabel="always">
              <mat-label>ACCOUNT NUMBER</mat-label>
              <input formControlName="accountNumber" matInput required />
            </mat-form-field>
          </form>
          <hr />

           bank stuff -->

          <div fxLayout="row  wrap" fxLayoutAlign="center center">
            <mat-form-field appearance="none" floatLabel="always">
              <mat-label>Invite code</mat-label>
              <input [(ngModel)]="inviteCode" matInput />
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayoutAlign="center center">
            <button
              (click)="completeSignup()"
              [disabled]="!formGroup.valid || !inviteCode"
              class="complete-button"
              color="primary"
              mat-flat-button
            >
              Complete
            </button>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>

    <mat-horizontal-stepper
      *ngIf="usertype === 'artist'"
      #stepper
      [linear]="true"
      labelPosition="bottom"
      style="background: none; color: white"
    >

      <mat-step [completed]="yourDetailsCompleted()">
        artist
        <app-signup-user-details-step
          [formGroup]="formGroup"
        ></app-signup-user-details-step>
      </mat-step>

      <mat-step [completed]="yourGenresCompleted()">
        <app-signup-genres-step
          [formGroup]="formGroup"
        ></app-signup-genres-step>
      </mat-step>

      <!--
      <mat-step [completed]="packageCompleted()">
        <app-signup-package-details-step
        [formGroup]="formGroup"
        ></app-signup-package-details-step>
      </mat-step>
    -->>

      <mat-step>
        <div class="review">
          <hr />
          <h2><span>Review</span></h2>
          <div fxLayout="column" fxLayoutAlign="space-around start">
            <div fxLayout="row wrap">
              <h3>Your <span class="tapestheme">details</span></h3>

              <p>Name : {{ formGroup.controls["name"].value }}</p>
              <p>Email : {{ formGroup.controls["email"].value }}</p>
              <p>City : {{ formGroup.controls["city"].value }}</p>
              <p>
                Instagram :
                {{ formGroup.controls["instagram"].value || "None" }}
              </p>
              <p>
                Twitter : {{ formGroup.controls["twitter"].value || "None" }}
              </p>
              <p>Website : {{ formGroup.controls["web"].value || "None" }}</p>
            </div>

            <hr />

            <div fxLayout="row wrap">
              <h3>Your <span class="tapestheme">profile & genres</span></h3>

              <p>Bio : {{ formGroup.controls["bio"].value || "None" }}</p>

              <p *ngFor="let genre of formGroup.controls['genres'].value">
                {{ genre }}
              </p>
            </div>
          </div>

          <div fxLayout="row  wrap" fxLayoutAlign="center center">
            <mat-form-field appearance="none" floatLabel="always">
              <mat-label>Invite code</mat-label>
              <input [(ngModel)]="inviteCode" matInput />
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayoutAlign="center center">
            <button
              (click)="completeSignup()"
              [disabled]="!formGroup.valid || !inviteCode"
              class="complete-button"
              color="primary"
              mat-flat-button
            >
              Complete
            </button>
          </div>
        </div>
      </mat-step>

    </mat-horizontal-stepper>

    <div fxLayout="row" class="footer">
      <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
        <div>Don't have an account? <a herf="">Sign up</a></div>
      </div>
    </div>
  </div>
</div>
