@import "../../../styles.scss";
.register-container {
  padding: 0 32px;
  //overflow: scroll;
  overflow: hidden;

  min-height: calc(
    100vh - 59px
  );

  text-align: center;
  background: map-get($mat-dark-theme-background, background);
  border-radius: 16px 16px 0 0;
  .material-icons {
    font-size: 6rem;
  }
  .registerCTA {
    position: relative;
    font-size: x-small;
    letter-spacing: 2px;
    &.highlight {
      color: map-get($mat-dark-theme-foreground, base);
    }
    &.nohighlight {
      color: map-get($mat-dark-theme-foreground, disabled-text);
    }
    .highlight-pointers {
      &.highlight {
        color: map-get($mat-primary, main);
        display: block;
      }
      &.nohighlight {
        display: none;
      }
      &.starthighlight {
        display: none;
      }
      .left-arrow .material-icons {
        position: absolute;
        top: 50%;
        right: -44px;
        font-size: 2rem;
      }
      .right-arrow .material-icons {
        position: absolute;
        top: 50%;
        left: -44px;
        font-size: 2rem;
      }
    }
  }
  span.usertype {
    color: map-get($mat-primary, main);
  }
  span.tapestheme {
    color:#fff;
  }
  hr.register {
    margin: 40px 0;
    width: -webkit-fill-available;
  }

  .mat-content {
    justify-content: space-between !important;
    .mat-expansion-panel-header-title, 
    .mat-expansion-panel-header-description {
        flex-grow: unset;
        margin-right: unset;
    }
    .mat-panel-description{
        flex-grow: unset;
    }
  }


}

.review {
  text-align: left;
  h3, h2 {
    color: map-get($mat-primary, main);
  }
  h3, p, h4, ul {
    width: 100%;
  }
  h4 {
    margin-bottom: 0;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0 1em;
  }
}
