<div fxLayout="column" *ngIf="user">
  <div fxLayout="column" class="content" *ngIf="!userId">
    <hr />
    <!-- check if user has already uploaded and what package they are on to set limitation-->
    <app-track-upload *ngIf="canupload === true && user.type !== 'DJ'"></app-track-upload>
  </div>

  <mat-card fxLayout="column" fxLayoutGap="20px">
    <mat-card-content fxLayout="column" fxLayoutGap="16px 0">
      <div fxLayout="row" fxLayoutGap="20px">
        <div fxLayout="column">
          <img
            src="{{ user.avatar }}"
            width="100"
            style="border-radius: 16px"
          />
        </div>

        <div fxLayout="column">
          <div fxLayout="row" class="bar-container">
            <h2 style="margin-top: 19px">
              <span class="bg-color-primary bar-padding" style="float: left">{{
                user.name
              }}</span>
            </h2>
            <div id="bars">
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
            </div>
          </div>
          <div fxLayout="row">
            <span class="followers">{{artists.length}} followers</span>
          </div>
        </div>
      </div>

      <p>
        {{ user.bio }}
      </p>

      <div fxLayout="row" fxLayoutGap="10px">
        <app-genre-mini
          *ngFor="let genre of user.genres"
          [genre]="genre"
        ></app-genre-mini>
      </div>

      <hr />

      <div *ngIf="user.type == 'DJ'">

        <app-user-preview *ngFor="let artist of artists" [user]="artist"></app-user-preview>

      </div>

      <div *ngIf="user.type !== 'DJ'">
        <h2 *ngIf="!userId" class="stats">
          <span class="ft-color-primary">My</span> Stats
        </h2>

        <app-user-stats *ngIf="!userId"></app-user-stats>

        <button
          *ngIf="!userId"
          class="viewfullstats"
          type="button"
          mat-stroked-button
          color="accent"
          (click)="router.navigateByUrl('/user/dashboard')"
        >
          VIEW FULL STATS
        </button>

        <hr *ngIf="!userId" />

        <h1 class="upgrade" *ngIf="!userId">
          Up<span class="ft-color-primary">grade</span>
        </h1>
        <button
          *ngIf="!userId"
          class="login"
          mat-flat-button
          color="accent"
          routerLink="/user/upgrade"
        >
          LEARN MORE
        </button>

        <hr *ngIf="!userId" />

        <h2 *ngIf="!userId" class="music">
          <span class="ft-color-primary">My</span> Music
        </h2>
        <h2 *ngIf="userId" class="music">
          <span class="ft-color-primary">Music</span> by {{ user.name }}
        </h2>

        <app-track-search
          [userId]="me ? user.id : this.userId"
          [hideClose]="!me"
        ></app-track-search>
      </div>

      <div
        fxLayout="row"
        fxLayoutAlign="space-around start"
        style="padding-top: 32px"
      >
        <div fxLayout="column">
          <span class="material-icons"> home </span>
        </div>

        <div fxLayout="column">
          <span class="material-icons"> search </span>
        </div>

        <div fxLayout="column">
          <span class="material-icons"> library_books </span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
