@import "../../../styles.scss";
h2 {
  text-align: left;
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 1.2rem;
  color: map-get($mat-dark-theme-foreground, base);
  span {
    color: map-get($mat-primary, main);
  }
}

span.mat-content {
  justify-content: space-between !important;
}

mat-panel-title {
  font-size: 0.75em !important;
  line-height: 2em;
}

.gigBtn {
  text-transform: unset;
  font-size: 12px;
  margin: 0 0 24px 0;
  text-align: left;
  height: 44px;
  span {
    color: map-get($mat-accent, main);
  }
}

.keyboard-return {
  position: relative;
  top: -32px;
  left: calc(100% - 32px);
}

.giglist-item {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}
.mat-accordion .mat-expansion-panel {
  opacity: 1
}
