<hr />
<h2><span>Where</span> do yo play?</h2>
<mat-accordion class="example-headers-align">
  <form [formGroup]="formGroup">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>RADIO</mat-panel-title>
        <mat-panel-description>
          <mat-icon>panorama_fish_eye</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <button
        *ngIf="!addaGig"
        mat-flat-button
        class="gigBtn"
        [style.background-color]="btnColour"
        (click)="addGig('this.rf')"
      >
        <span>+</span> Tap to add radio station
      </button>

      <mat-form-field *ngIf="addaGig" appearance="none" floatLabel="always">
        <input #radioFocous formControlName="radiotext" matInput />
        <span
          class="material-icons keyboard-return"
          (click)="enterGig('radiotext', 'radioStations')"
        >
          keyboard_return
        </span>
      </mat-form-field>

      <div
        class="giglist-item"
        *ngFor="
          let radiogig of formGroup.controls.radioStations?.value;
          let i = index
        "
      >
        <div>{{ radiogig.gig }}</div>
        <mat-icon color="accent" (click)="removeGig(i, 'radioStations')"
          >highlight_off</mat-icon
        >
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>CLUBS</mat-panel-title>
        <mat-panel-description>
          <mat-icon>panorama_fish_eye</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <button
        *ngIf="!addaGig"
        mat-flat-button
        class="gigBtn"
        [style.background-color]="btnColour"
        (click)="addGig('this.cf')"
      >
        <span>+</span> Tap to add clubs
      </button>

      <mat-form-field *ngIf="addaGig" appearance="none" floatLabel="always">
        <input #clubFocous formControlName="clubstext" matInput />
        <span
          class="material-icons keyboard-return"
          (click)="enterGig('clubstext', 'clubs')"
        >
          keyboard_return
        </span>
      </mat-form-field>

      <div
        class="giglist-item"
        *ngFor="let radiogig of formGroup.controls.clubs?.value; let i = index"
      >
        <div>{{ radiogig.gig }}</div>
        <mat-icon color="accent" (click)="removeGig(i, 'clubs')">highlight_off</mat-icon>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>PODCASTS</mat-panel-title>
        <mat-panel-description>
          <mat-icon>panorama_fish_eye</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <button
        *ngIf="!addaGig"
        mat-flat-button
        class="gigBtn"
        [style.background-color]="btnColour"
        (click)="addGig('this.pcf')"
      >
        <span>+</span> Tap to add podcasts
      </button>

      <mat-form-field *ngIf="addaGig" appearance="none" floatLabel="always">
        <input #podcastFocous formControlName="podcaststext" matInput />
        <span
          class="material-icons keyboard-return"
          (click)="enterGig('podcaststext', 'podcasts')"
        >
          keyboard_return
        </span>
      </mat-form-field>

      <div
        class="giglist-item"
        *ngFor="
          let radiogig of formGroup.controls.podcasts?.value;
          let i = index
        "
      >
        <div>{{ radiogig.gig }}</div>
        <mat-icon color="accent" (click)="removeGig(i, 'podcasts')">highlight_off</mat-icon>
      </div>
    </mat-expansion-panel>    

    <div fxLayout="row" fxLayoutGap="32px">
      <button mat-stroked-button color="accent" matStepperPrevious>Back</button>
      <button mat-flat-button color="accent" matStepperNext>Next</button>
    </div>
  </form>
</mat-accordion>
