.track-popup-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100vw;
  z-index: 2;
  background-color: #292929;
  padding: 15px;

  color: white;

  .link-list {
    text-transform: uppercase;
  }
}
