<div *ngIf="track" class="track-popup-wrapper" fxLayout="column" fxLayoutGap="25px">
  <div fxLayout="row">
    <mat-icon color="accent" (click)="close()">highlight_off</mat-icon>
  </div>

  <hr/>

  <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start center">
    <div fxLayout="column">
      <img [src]="track.cover" width="70" height="70" />
    </div>

    <div fxLayout="column">
      <div fxLayout="row">
        <h3>{{track.title}}</h3>
      </div>
      <div fxLayout="row">
        <span>{{track.user.name}}</span>
      </div>
    </div>
  </div>

  <div fxLayout="row" *ngIf="!showShare && !showComments && !showAddToPlaylist && !showDownload">
    <mat-list class="link-list">
      <mat-list-item (click)="like()">
        <mat-icon matListIcon color="accent" *ngIf="track.liked">favorite</mat-icon>
        <mat-icon matListIcon *ngIf="!track.liked">favorite_border</mat-icon>
        <span matLine *ngIf="track.liked">Liked</span>
        <span matLine *ngIf="!track.liked">Like</span>
      </mat-list-item>
      <mat-list-item (click)="addToPlaylist()">
        <mat-icon matListIcon>add</mat-icon>
        <span matLine>Add to playlist</span>
      </mat-list-item>
      <mat-list-item (click)="share()">
        <mat-icon matListIcon>share</mat-icon>
        <span matLine>Share</span>
      </mat-list-item>
      <mat-list-item (click)="viewArtist()">
        <mat-icon matListIcon>person_outline</mat-icon>
        <span matLine>View artist</span>
      </mat-list-item>
      <mat-list-item (click)="comments()">
        <mat-icon matListIcon>menu</mat-icon>
        <span matLine>Comments</span>
      </mat-list-item>
      <mat-list-item (click)="download()">
        <mat-icon matListIcon>file_download</mat-icon>
        <span matLine>Download</span>
      </mat-list-item>
    </mat-list>
  </div>

  <app-download *ngIf="showDownload" [track]="track"></app-download>

  <app-add-to-playlist *ngIf="showAddToPlaylist" [track]="track"></app-add-to-playlist>

  <app-track-comments *ngIf="showComments" [track]="track"></app-track-comments>

  <div fxLayout="row" *ngIf="showShare">
    <mat-list class="link-list">
      <mat-list-item (click)="shareOnClick('SNAPCHAT')">
        <span matListIcon><i class="fab fa-snapchat-square"></i></span>
        <span matLine>Snapchat</span>
      </mat-list-item>
      <mat-list-item (click)="shareOnClick('INSTAGRAM')">
        <span matListIcon><i class="fab fa-instagram"></i></span>
        <span matLine>Instagram stories</span>
      </mat-list-item>
      <mat-list-item (click)="shareOnClick('WHATSAPP')">
        <span matListIcon><i class="fab fa-whatsapp"></i></span>
        <span matLine>Whatsapp</span>
      </mat-list-item>
      <mat-list-item (click)="shareOnClick('TWITTER')">
        <span matListIcon><i class="fab fa-twitter"></i></span>
        <span matLine>Twitter</span>
      </mat-list-item>
      <mat-list-item (click)="shareOnClick('COPYLINK')">
        <mat-icon matListIcon>content_copy</mat-icon>
        <span matLine>Copylink</span>
      </mat-list-item>
    </mat-list>
  </div>

  <div style="display: flex; align-items: center" *ngIf="showDeletePlaylistButton">
    <button mat-icon-button (click)="deleteSongFromPlaylistCallback()"><mat-icon color="accent">highlight_off</mat-icon></button>
    <span>Delete this song from the playlist</span>
  </div>
</div>
