@import "../../../styles.scss";
a {
    text-decoration: none;
    color: white;
}
 
a:hover, a:active{
    color: lightgray;
}
 
.navigation-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
 
mat-toolbar {
    border-radius: 3px;
}

.header-menu-button {
    position: absolute;
    top: 0;
    left: 24px;
}

.tb {
    position: sticky;
    top:0;
    height: 40px;
    z-index: 10;
    background-color: #161616;
    display: block !important;
    width: 100%;
    margin: 8px 0;
    text-align: center;
    h1 {
        margin:0;
    }
}

.menu {
    color: #fff;
}


.withnomenu {
    position: sticky;
    top:0;
    height: 40px;
    z-index: 10;
    background-color: #161616;
    padding: 0 32px;
    text-align: center;
    .title {
      position: relative;
      .backbutton {
        position: absolute;
        top: 0;
        left: 0;
        line-height: 52px;
        color: map-get($mat-accent, main);
      }
    }
    margin-bottom: 20px;
    h2 {
      font-weight: 900;
      font-size: xx-large;
      color: map-get($mat-primary, main);
      margin: 0;
      span {
        color: #fff;
        font-weight: 900;
      }
    }
  }

@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}