<div class="tb" *ngIf="pagetype == 'withmenu'">
  <!-- *ngIf="pagetype == 'withmenu'" -->
  <!--<mat-toolbar color="background" *ngIf="pagetype == 'withmenu'">-->
  <app-audio-player
    *ngIf="track"
    [track]="track"
    (trackEvent)="trackEvent($event)"
  ></app-audio-player>
  <div class="header-menu-button" fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <svg
        fill="none"
        height="28"
        viewBox="0 0 28 28"
        width="28"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M4 7C4 6.44771 4.44772 6 5 6H24C24.5523 6 25 6.44771 25 7C25 7.55229 24.5523 8 24 8H5C4.44772 8 4 7.55229 4 7Z"
          fill="white"
        />
        <path
          d="M4 13.9998C4 13.4475 4.44772 12.9997 5 12.9997L16 13C16.5523 13 17 13.4477 17 14C17 14.5523 16.5523 15 16 15L5 14.9998C4.44772 14.9998 4 14.552 4 13.9998Z"
          fill="white"
        />
        <path
          d="M5 19.9998C4.44772 19.9998 4 20.4475 4 20.9998C4 21.552 4.44772 21.9997 5 21.9997H22C22.5523 21.9997 23 21.552 23 20.9998C23 20.4475 22.5523 19.9998 22 19.9998H5Z"
          fill="white"
        />
      </svg>
    </button>
  </div>

  <a routerLink="/home"
    ><h1>
      <span class="ft-color-primary">{{ pagetitle }}</span>
      {{ pagetitle2 }}
    </h1></a
  >

  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a routerLink="/page1">Page 1</a>
      </li>
      <li>
        <a routerLink="/page2">Page 2</a>
      </li>
    </ul>
  </div>
  <!--</mat-toolbar>-->
</div>

<div
  fxLayout
  fxLayoutAlign="center center"
  class="withnomenu"
  *ngIf="pagetype == 'withnomenu'"
>
  <div fxFlex="100">
    <div fxLayout="row">
      <div fxLayout="column" fxLayoutAlign="center center" fxFlex class="title">
        <div class="backbutton">
          <span (click)="backClicked()" class="material-icons">
            arrow_back_ios
          </span>
        </div>
        <h2>
          <span class="ft-color-primary">{{ pagetitle }}</span> {{ pagetitle2 }}
        </h2>
      </div>
    </div>
  </div>
</div>
<div class="lds-ripple" *ngIf="pageloading == 'true'">
  <div></div>
  <div></div>
</div>
