<div fxLayout="column" class="wrapper">
  <mat-card fxLayout="column" class="full-height">
    <mat-card-content fxLayout="column">
      <h2><span class="ft-color-primary">My</span> Metrics</h2>

      <mat-tab-group mat-align-tabs="space-around">
        <mat-tab label="This Week">
          <app-user-stats [timePeriod]="'WEEK'"></app-user-stats>
        </mat-tab>
        <mat-tab label="Total">
          <app-user-stats [timePeriod]="'TOTAL'"></app-user-stats>
        </mat-tab>
      </mat-tab-group>

      <hr/>

      <h2><span class="ft-color-primary">Metrics</span> by track</h2>

      <!-- Dropdown to choose track -->
      <mat-form-field>
        <mat-label>Choose track</mat-label>

        <mat-select [(ngModel)]="selectedTrack" (ngModelChange)="fetchData()">
          <mat-option *ngFor="let track of myTracks" [value]="track.id">{{track.title}}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Dropdown to choose metric to view -->
      <mat-form-field>
        <mat-label>Choose metric to measure</mat-label>

        <mat-select [(ngModel)]="selectedMetric">
          <mat-option [value]="'plays'">Plays</mat-option>
          <mat-option [value]="'likes'">Likes</mat-option>
          <mat-option [value]="'downloads'" >Downloads</mat-option>
          <mat-option [value]="'comments'">Comments</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Tab group for day, week, month -->
      <mat-tab-group mat-align-tabs="space-around">
        <mat-tab label="Day">
          <app-graph [metrics]="metricsForTodayByTrack" [selectedMetric]="selectedMetric" [timePeriod]="'DAY'"></app-graph>
        </mat-tab>
        <mat-tab label="Week">
          <app-graph [metrics]="metricsForThisWeekByTrack" [selectedMetric]="selectedMetric" [timePeriod]="'WEEK'"></app-graph>
        </mat-tab>
        <mat-tab label="Month">
          <app-graph [metrics]="metricsForThisMonthByTrack" [selectedMetric]="selectedMetric" [timePeriod]="'MONTH'"></app-graph>
        </mat-tab>
      </mat-tab-group>

      <hr/>

      <h2><span class="ft-color-primary">Most popular</span> uploads</h2>

      <!-- Most popular uploads -->
      <h6>Your top 3 uploads</h6>

      <app-track *ngFor="let track of popularTracks" [track]="track"></app-track>

      <hr/>

      <h2><span class="ft-color-primary">Metrics</span> by location for all tracks</h2>

      <!-- Dropdown to choose track -->
      <mat-form-field>
        <mat-label>Choose location</mat-label>

        <mat-select [(ngModel)]="selectedLocation" (ngModelChange)="fetchData()">
          <mat-option [value]="'GB'">United Kingdom</mat-option>
          <mat-option [value]="'US'">United States</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Dropdown to choose metric to view -->
      <mat-form-field>
        <mat-label>Choose metric to measure</mat-label>

        <mat-select [(ngModel)]="selectedMetric">
          <mat-option [value]="'plays'">Plays</mat-option>
          <mat-option [value]="'likes'">Likes</mat-option>
          <mat-option [value]="'downloads'" >Downloads</mat-option>
          <mat-option [value]="'comments'">Comments</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Tab group for day, week, month -->
      <mat-tab-group mat-align-tabs="space-around">
        <mat-tab label="Day">
          <app-graph [metrics]="metricsForTodayByLocation" [selectedMetric]="selectedMetric" [timePeriod]="'DAY'"></app-graph>
        </mat-tab>
        <mat-tab label="Week">
          <app-graph [metrics]="metricsForThisWeekByLocation" [selectedMetric]="selectedMetric" [timePeriod]="'WEEK'"></app-graph>
        </mat-tab>
        <mat-tab label="Month">
          <app-graph [metrics]="metricsForThisMonthByLocation" [selectedMetric]="selectedMetric" [timePeriod]="'MONTH'"></app-graph>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
