<mat-card fxLayout="column" fxLayoutGap="20px">
  <mat-card-content fxLayout="column" fxLayoutGap="16px 0">
    <div fxLayout="column">
      <div fxLayout="column">
        <mat-horizontal-stepper
          #stepper
          class="nostepperheader"
          [linear]="true"
          labelPosition="bottom"
          style="background: none; color: white"
        >
          <mat-step>
            <div fxLayout="column" class="content">
              <img src="./assets/welcome1.png" />
              <h2>
                Join a
                <span class="ft-color-primary">music community</span> like no
                other
              </h2>
              <p>A platform that connects new artists with established DJs</p>
            </div>
            <hr />
            <div class="pips">
              <mat-icon color="primary">fiber_manual_record</mat-icon>
              <mat-icon>fiber_manual_record</mat-icon>
              <mat-icon>fiber_manual_record</mat-icon>
            </div>
            <div fxLayout="row" fxLayoutGap="32px">
              <button mat-stroked-button color="accent" matStepperPrevious>
                Back
              </button>
              <button mat-flat-button color="accent" matStepperNext>
                Next
              </button>
            </div>
          </mat-step>
          <mat-step>
            <div fxLayout="column" class="content">
              <img src="./assets/welcome2.png" />
              <h2>
                Discover
                <span class="ft-color-primary">new music</span>
              </h2>
              <p>Using our search function it is easier than ever to find new and upcoming artists from the UK</p>
            </div>
            <hr />
            <div class="pips">
              <mat-icon>fiber_manual_record</mat-icon>
              <mat-icon color="primary">fiber_manual_record</mat-icon>
              <mat-icon>fiber_manual_record</mat-icon>
            </div>
            <div fxLayout="row" fxLayoutGap="32px">
              <button mat-stroked-button color="accent" matStepperPrevious>
                Back
              </button>
              <button mat-flat-button color="accent" matStepperNext>
                Next
              </button>
            </div>
          </mat-step>
          <mat-step>
            <div fxLayout="column" class="content">
              <img src="./assets/welcome3.png" />
              <h2>
                Play,share,
                <span class="ft-color-primary">download</span>
              </h2>
              <p>Get your music out there, share with your friends and leave feedback</p>
            </div>
            <hr />
            <div class="pips">
              <mat-icon>fiber_manual_record</mat-icon>
              <mat-icon>fiber_manual_record</mat-icon>
              <mat-icon color="primary">fiber_manual_record</mat-icon>
            </div>
            <div fxLayout="row" fxLayoutGap="32px">
              <button mat-stroked-button color="accent" matStepperPrevious>
                Back
              </button>
              <button mat-flat-button color="accent" matStepperNext>
                Next
              </button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </div>
  </mat-card-content>
</mat-card>
