@import '../../styles.scss';
.login {
    padding: 0 32px;
    text-align: center;
    &.backbutton {
        text-align: left;
        color: map-get($mat-accent, main);
    }
    .logo-container {
        margin-bottom: 20px;
        img {
            width: 50%;
        }
        h2 {
            font-weight: 400;
            font-size: xx-large;
            text-transform: uppercase;
            margin: 8px;
            span {
                font-weight:100;
            }
        }
    }
    .login-options {
        padding-top: 16px;
        width: 100%;
        text-align: right;
    }
    hr.login{
        margin: 40px 0;
        width: -webkit-fill-available;
    }
}