<div fxLayout fxLayoutAlign="center center" class="login">
  <div fxFlex="100">
    <div fxLayout="row" fxLayoutAlign="center center" class="logo-container">
      <div fxFlex="70">
        <div fxLayout="row">
          <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
            <img src="./assets/logo.png" />
          </div>
        </div>
        <div fxLayout="row">
          <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
            <h2>tapes <span>uk</span></h2>
          </div>
        </div>
      </div>
    </div>

    <div fxLayout="row">
      <mat-form-field appearance="none" floatLabel="always">
        <mat-label>EMAIL</mat-label>
        <input matInput />
      </mat-form-field>
    </div>

    <div fxLayout="row">
      <mat-form-field appearance="none" floatLabel="always">
        <mat-label>PASSWORD</mat-label>
        <input matInput />
        <mat-hint>EMAIL IS NOT RECOGNISED.</mat-hint>
      </mat-form-field>
    </div>

    <div fxLayout="row">
      <div class="login-options">
        <a herf="">Forget password?</a>
      </div>
    </div>
    <hr class="login" />
    <div fxLayout="row">
      <div fxLayout="column" fxLayoutAlign="center center" fxFlex>
        <div>
            <button mat-flat-button color="primary">LOGIN</button>
          Do you have an account? <a herf="">Sign up</a>
        </div>
      </div>
    </div>
  </div>
</div>
