<button *ngIf="!uploadingSong" mat-stroked-button color="accent" (click)="uploadingSong =true">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px">
      <div fxLayout="column">
        <mat-icon>cloud_queue</mat-icon>
      </div>
      <div fxLayout="column">Upload Song</div>
    </div>
</button>

<div fxLayout="row" *ngIf="uploadingSong && allGenres.length > 0">
  <div class="full-width" fxLayout="column" fxLayoutGap="15px">
    <div fxLayout="row">
      <h3><span class="ft-color-primary">Upload</span> a new track</h3>
    </div>

    <div fxLayout="row">
      <div fxLayout="column" class="full-width">
        <div fxLayout="row">
          <mat-form-field appearance="none" floatLabel="always">
            <mat-label>Version name</mat-label>
            <input [(ngModel)]="versionName" matInput />
          </mat-form-field>
        </div>

        <div fxLayout="row">
          <button
            type="button"
            (click)="fileInput.click()"
            mat-stroked-button
            color="accent"
          >
            <input
              #fileInput
              type="file"
              (change)="versionFileOnChange($event)"
              style="display: none"
            />
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px">
              <div fxLayout="column">
                <mat-icon>cloud_queue</mat-icon>
              </div>
              <div fxLayout="column">Choose file</div>
            </div>
          </button>
        </div>

        <div fxLayout="row">
          <button mat-flat-button (click)="addVersion()" color="accent">Add</button>
        </div>

        <mat-accordion>
          <mat-expansion-panel *ngFor="let version of versions" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{version.name}}
              </mat-panel-title>
              <mat-panel-description>
                {{version.file.name}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <button mat-stroked-button color="warn" (click)="removeVersion(version)">Remove</button>
          </mat-expansion-panel>
        </mat-accordion>

      </div>
    </div>

    <div fxLayout="row">
      <mat-form-field appearance="none" floatLabel="always">
        <mat-label>Track title</mat-label>
        <input [(ngModel)]="trackTitle" matInput />
      </mat-form-field>
    </div>

    <div fxLayout="row">
      <mat-form-field appearance="none" floatLabel="always">
        <mat-label>Track description</mat-label>
        <textarea [(ngModel)]="trackDescription" matInput ></textarea>
      </mat-form-field>
    </div>

    <div fxLayout="row">
      <mat-form-field>
        <mat-label>Genre</mat-label>
        <mat-select [(ngModel)]="genre">
          <mat-option *ngFor="let g of allGenres" [value]="g">
              {{g}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <h6>Upload Artwork</h6>

    <app-img-crop (onChange)="artworkUploadOnChange($event)"></app-img-crop>

    <div *ngIf="uploadProgress > 0" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
      <mat-progress-bar mode="determinate" [value]="uploadProgress"></mat-progress-bar>
      <mat-icon>highlight_off</mat-icon>
    </div>

    <button mat-raised-button color="accent" (click)="upload()" [disabled]="versions.length === 0 || !trackTitle || !trackDescription || !genre || !artworkBase64">Upload</button>
  </div>
</div>
