<!--
<app-file-drag-drop
  (onChange)="fileChangeEvent($event)"
  *ngIf="!imageChangedEvent"
  accept="image/*"
  icon="image"
></app-file-drag-drop>
-->

<button
type="button"
(click)="fileInput.click()"
mat-stroked-button
color="accent"
>
<input
  #fileInput
  type="file"
  (change)="fileChangeEvent($event)"
  style="display: none"
/>
<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px">
  <div fxLayout="column">
    <mat-icon>cloud_queue</mat-icon>
  </div>
  <div fxLayout="column">TAP TO SELECT AND UPLOAD FILE</div>
</div>
</button>

<span class="cropper text-center" *ngIf="imageChangedEvent">
  <image-cropper
    (imageCropped)="imageCropped($event)"
    [aspectRatio]="aspectRatio"
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [resizeToWidth]="resizeToWidth"
    format="png"
  ></image-cropper>
  <span
    (click)="closeCropper()"
    *ngIf="imageChangedEvent"
    class="close"
  ></span>
</span>
