
<div fxLayout="column" class="wrapper">
    <mat-card fxLayout="column" class="full-height">
      <mat-card-content fxLayout="column">
    
        <app-signup-package-details-step
        [formGroup]="formGroup"
        ></app-signup-package-details-step>
      
      </mat-card-content>
    </mat-card>
  </div>
  
