<mat-card class="feedback-wrapper" *ngIf="feedback && !removed">
  <mat-card-header>
    <img mat-card-avatar [src]="feedback.track.cover" />
    <mat-card-title>{{feedback.track.title}}</mat-card-title>
    <mat-card-subtitle>{{feedback.track.user.name}}</mat-card-subtitle>

    <mat-card-actions class="header-actions-wrapper" *ngIf="this.userService.user?.value.role === 'ADMIN'">
      <mat-button-toggle-group [(ngModel)]="status" (ngModelChange)="handleStatusChange($event)">
        <mat-button-toggle value="add"><mat-icon>done</mat-icon></mat-button-toggle>
        <mat-button-toggle value="remove"><mat-icon>close</mat-icon></mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-actions>

    <mat-card-actions class="remove-actions-wrapper" *ngIf="!removed">
      <button mat-button (click)="removeFeedback()"><mat-icon color="accent">delete</mat-icon></button>
    </mat-card-actions>
  </mat-card-header>
  <mat-card-content>
    {{feedback.comment}}
  </mat-card-content>
  <mat-card-actions>
    <mat-chip-list>
      <mat-chip color="accent" [selected]="feedback.givenToken">Token</mat-chip>
    </mat-chip-list>
  </mat-card-actions>
</mat-card>
