.feedback-wrapper {
  background-color: black;
}

.header-actions-wrapper {
  position: absolute;
  padding: 0;
  margin-right: 0;
  margin-bottom: 0;
  bottom: 0;
  right: 0;
}

.remove-actions-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0;
  margin-top: 0;
}

.remove-wrapper {
  filter: blur(4px);
}
