.logo-center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: calc(100vh - 90px);
    padding: 0 10%;
    img.logo {
        width: 100%
    }
    h2 {
        font-weight: 400;
        font-size: xx-large;
        text-transform: uppercase;
        span {
            font-weight:100;
        }
    }
  }