
<!--
<div fxLayout="row" fxLayoutAlign="center center" class="row-height">
    <img class="logo" src="./assets/logo.png" />
</div>
-->

<div class="logo-center-screen">
    <img class="logo" src="./assets/logo.png" />
    <h2>tapes <span>uk</span></h2>
</div>