
@import "../../styles.scss";

.fa {
    position: relative;
    width: 100%;
    img {
        width: 100%;
        margin-bottom: 16px;
    }
}

.followers {
    font-size: smaller;
  }
  
  h2 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
  }
  h2.music {
    margin-bottom: 16px;
  }
  h2.stats,
  h1.upgrade {
    margin-top: 0;
    margin-bottom: 32px;
  }
  
  button.viewfullstats,
  button.login {
    margin-bottom: 0 !important;
  }
  
  .bar-container {
    position: absolute;
    bottom: 64px;
    left: 32px;
  }
  .bar-padding {
    padding: 0 8px 5px;
    margin: 0;
  }
  #bars {
    height: 30px;
    left: 19px;
    margin: -30px 0 0 -20px;
    position: absolute;
    top: 20px;
    width: 105px;
  }
  
  .bar {
    background: #666;
    bottom: 1px;
    height: 3px;
    position: absolute;
    width: 5px;
    border-radius: 4px;
    animation: sound 0ms -800ms linear infinite alternate;
  }
  
  .genre-container {
      margin-bottom: 16px;
  }

  @keyframes sound {
    0% {
      opacity: 0.35;
      height: 3px;
    }
    100% {
      opacity: 1;
      height: 28px;
    }
  }
  
  .bar:nth-child(1) {
    left: 1px;
    animation-duration: 474ms;
  }
  .bar:nth-child(2) {
    left: 11px;
    animation-duration: 433ms;
  }
  .bar:nth-child(3) {
    left: 22px;
    animation-duration: 407ms;
  }
  .bar:nth-child(4) {
    left: 33px;
    animation-duration: 458ms;
  }
  .bar:nth-child(5) {
    left: 44px;
    animation-duration: 400ms;
  }
  .bar:nth-child(6) {
    left: 55px;
    animation-duration: 427ms;
  }
  .bar:nth-child(7) {
    left: 66px;
    animation-duration: 441ms;
  }
  .bar:nth-child(8) {
    left: 77px;
    animation-duration: 419ms;
  }
  .bar:nth-child(9) {
    left: 88px;
    animation-duration: 487ms;
  }
  .bar:nth-child(10) {
    left: 99px;
    animation-duration: 442ms;
  }
  
  app-genre-mini {
    border-radius: 8px;
  }
  app-genre-mini:nth-child(1) {
    border: 1px solid #8796ff;
  }
  
  app-genre-mini:nth-child(2) {
    border: 1px solid #8addff;
  }
  
  app-genre-mini:nth-child(3) {
    border: 1px solid #a3ffd3;
  }
  
  app-genre-mini:nth-child(4) {
    border: 1px solid #fa8af2;
  }
  
  app-genre-mini:nth-child(5) {
    border: 1px solid #fdb296;
  }
  
  app-genre-mini:nth-child(6) {
    border: 1px solid #ffd091;
  }
  
  app-genre-mini:nth-child(7) {
    border: 1px solid #8796ff;
  }