
<ngu-carousel #myCarousel [inputs]="carouselTile" [dataSource]="users">
  <ngu-tile *nguCarouselDef="let item">
    <app-user-preview-big [user]="item"></app-user-preview-big>
  </ngu-tile>
  <!--
  <button NguCarouselPrev class="leftRs" [style.opacity]="myCarousel.isFirst ? 0.5:1">&lt;</button>
  <button NguCarouselNext class="rightRs" [style.opacity]="myCarousel.isLast ? 0.5:1">&gt;</button>
-->
</ngu-carousel>
