<form
  [formGroup]="form"
  class="control"
  novalidate
>
  <span
    [ngClass]="{ 'icon': icon }"
    class="ui-float-label"
  >
    <i
      *ngIf="icon"
      class="input-icon pi {{ icon }}"
    ></i>
    <input
      *ngIf="!mask.length"
      [type]="type"
      autocomplete="off"
      formControlName="control"
      maxlength="{{ getMaxLength() }}"
      pInputText
    >
    <p-inputMask
      *ngIf="mask.length"
      [mask]="mask"
      formControlName="control"
    ></p-inputMask>
    <label>
      {{ label }}
    </label>
  </span>
  <error-display
    [errors]="form.get('control').errors"
    [visibility]="form.get('control').touched"
  >
  </error-display>
</form>
