<div *ngIf="track" fxLayout="column" class="wrapper">
  <mat-card fxLayout="column" fxLayoutGap="16px">
    <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="16px">
      <div fxLayout="column">
        <div
          fxLayout="row"
          fxLayoutAlign="space-between start"
          fxLayoutGap="16px"
        >
          <div fxLayout="column" class="artist-img" (click)="playtrack(track)">
            <img
              alt="Artist"
              src="{{ track.user.avatar }}"
              width="70"
              style="border-radius: 8px"
            />
            <span class="material-icons"> play_arrow </span>
            <span class="material-icons ft-color-primary"> play_circle </span>
          </div>

          <div fxLayout="column" style="overflow-wrap: break-word;">
            <h3 style="max-width:81px; margin-top: 0; text-align: left">{{ track.title }}</h3>

            <div fxLayout="row">
              <span class="followers">127 followers</span>
            </div>
          </div>
        </div>
      </div>

      <div fxLayout="column" *ngIf="showPopupButton">
        <mat-icon color="accent" (click)="popupButtonOnClick()">more_horiz</mat-icon>
      </div>
      <div fxLayout="column" *ngIf="!hideClose">
        <mat-icon color="accent" (click)="onCloseClickCallback()">highlight_off</mat-icon>
      </div>
      <!--
      <div fxLayout="column" *ngIf="!hideClose">
        <mat-icon color="accent" (click)="removeTrackFromProfile(track)">highlight_off</mat-icon>
      </div>
    -->
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
      <app-genre-mini></app-genre-mini>
      <app-genre-mini></app-genre-mini>
    </div>
  </mat-card>

  <div class="flex-container result-stat-container" fxLayout="row">
    <div fxFlex="25">
      <div class="result-stat-item">
        <span class="material-icons"> play_arrow </span>
        <div class="result-stat-item-detail">
          {{ track.metrics.numberPlays.value }}
        </div>
      </div>
    </div>
    <div fxFlex="25">
      <div class="result-stat-item">
        <span class="material-icons"> favorite </span>
        <div class="result-stat-item-detail">
          {{ track.metrics.numberLikes.value }}
        </div>
      </div>
    </div>
    <div fxFlex="25">
      <div class="result-stat-item">
        <span class="material-icons"> get_app </span>
        <div class="result-stat-item-detail">
          {{ track.metrics.numberDownloads.value }}
        </div>
      </div>
    </div>
    <div fxFlex="25">
      <div class="result-stat-item menu">
        <span class="material-icons"> menu </span>
        <div class="result-stat-item-detail">
          {{ track.metrics.numberComment.value }}
        </div>
      </div>
    </div>
  </div>
</div>
