@import "../../../styles.scss";

.wrapper {
  mat-card {
    position: relative;
    z-index: 3;
    width: 100%;
    padding: 16px !important;
    border-radius: 8px 8px 8px 8px !important;
    background-color: map-get($mat-dark-theme-background, background);
  }

  .artist-img  {
    position: relative !important;
    .material-icons {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .result-stat-container {
    position: relative;
    top: -16px;
    padding-top: 16px;
    z-index: 2;
    border: 1px solid map-get($mat-dark-theme-background, background);
    border-radius: 8px;
  }

  .result-stat-item {
    padding: 16px;
    border-right: 1px solid;
    border-color: map-get($mat-dark-theme-background, background);
    font-size: x-small;
    .material-icons {
      font-size: small;
    }
    .result-stat-item-detail {
      vertical-align: top;
      display: inline;
    }
    &.menu {
      border-right: none;
    }
  }
}
