<h4>Choose version to download</h4>
<mat-form-field appearance="fill">
  <mat-label>Version</mat-label>
  <mat-select [(ngModel)]="selectedVersion">
    <mat-option *ngFor="let version of vtrack.versions" [value]="version.id">
      {{version.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<button mat-flat-button class="full-width" color="accent" (click)="download()">Download</button>
