<div fxLayout="column" class="wrapper">
    <mat-card fxLayout="column" class="full-height">
        <mat-card-content fxLayout="column">
            <mat-tab-group mat-align-tabs="space-around">
                <mat-tab label="My liked tracks">
                    <app-liked-tracks></app-liked-tracks>
                </mat-tab>
                <mat-tab label="My playlists">
                    <app-playlists></app-playlists>
                </mat-tab>
                <mat-tab label="Following">
                    <app-following></app-following>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>