<div *ngIf="user" fxLayout="column" fxLayoutGap="25px">
    <div fxLayout="row" fxLayoutGap="25px">
        <div fxLayout="column">
            <img src="{{user.avatar}}"/>
        </div>
        <div fxLayout="column">
            <h2 style="margin-top: 19px">
                <span class="bg-color-primary bar-padding">{{user.name}}</span>
            </h2>
            <span>127 followers</span>
        </div>
    </div>

    <div fxLayout="row">
        {{user.bio}}
    </div>


    <div fxLayout="row">
        <app-genre-mini *ngFor="let genre of user.genres" [genre]="genre"></app-genre-mini>
    </div>

    <hr/>
</div>
  