<div fxLayout="column">
  <mat-card fxLayout="column" fxLayoutGap="20px">
    <mat-card-content fxLayout="column" fxLayoutGap="16px 0">
      <div fxLayout="row">
        <mat-form-field appearance="none" floatLabel="always">
          <input
            placeholder="Search..."
            matInput
            [(ngModel)]="searchField"
            (ngModelChange)="filter()"
          >
        </mat-form-field>
      </div>

      <hr/>

      <h2><span class="ft-color-primary">Browse</span> by genre</h2>

      <mat-button-toggle-group
        class="genres-wrapper"
        fxLayout="row wrap"
        fxLayoutAlign="center center"
      >
        <mat-button-toggle
          *ngFor="let genre of genres"
          [value]="genre.name"
          class="genre"
          [class.selectedGenre]="selectedGenre === genre"
          (click)="genreOnClick(genre)"
        >
          {{genre.name}}
        </mat-button-toggle>
      </mat-button-toggle-group>

      <hr/>

      <h2><span class="ft-color-primary">Search</span> results</h2>

      <div fxLayout="row">
        <div fxLayout="row" fxFlex="60"></div>
        <div fxLayout="row" fxFlex="40">
          <mat-form-field class="selectdropdown" appearance="none">
            <mat-select placeholder="sort by" [(ngModel)]="selectedSortByOption" (ngModelChange)="filter()">
              <mat-option
                *ngFor="let option of sortByOptions"
                [value]="option.value"
              >
                {{ option.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="center center" *ngIf="loading">
        <div fxLayout="column">
          <mat-progress-spinner class="spinner-reset" mode="indeterminate"></mat-progress-spinner>
        </div>
      </div>

      <app-track
        *ngFor="let track of filteredTracks"
        [track]="track"
        [hideClose]="true"
      ></app-track>
    </mat-card-content>
  </mat-card>
</div>
