<mat-card fxLayout="column" fxLayoutGap="20px">
  <mat-card-content fxLayout="column" fxLayoutGap="16px 0">
    <div fxLayout="column">
      <div fxLayout="column">
        <mat-tab-group>
          <mat-tab label="Featured">
            <ng-template matTabContent>
              <app-featured-artist
                [users]="artistsFeatured"
              ></app-featured-artist>
              <app-track-list [tracks]="tracksFeatured"></app-track-list>
            </ng-template>
          </mat-tab>
          <mat-tab label="New">
            <ng-template matTabContent>
              <app-featured-artist [users]="artistsNew"></app-featured-artist>
              <app-track-list [tracks]="tracksNew"></app-track-list>
            </ng-template>
          </mat-tab>
          <mat-tab label="Trending">
            <ng-template matTabContent>
              <app-featured-artist
                [users]="artistsTrending"
              ></app-featured-artist>
              <app-track-list [tracks]="tracksTrending"></app-track-list>
            </ng-template>
          </mat-tab>
          <mat-tab label="Following">
            <ng-template matTabContent>
              <app-track-list [tracks]="tracksFollowedArtists"></app-track-list>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </mat-card-content>
</mat-card>
