@import '~styles/colors';

.page-not-found {
  background: $white;
  min-height: 100%;
  height: 100vh;


  .error-code {
    color: darken($white, 30%);
    font-size: 1em;
    padding: 50px 0;
  }

  .not-found {
    font-size: 3em;
    padding-bottom: 50px;
  }

  .description {
    font-size: 0.9em;
  }

  .button-container {
    padding-top: 110px;
    margin-top: 50px;
    margin-bottom: 150px;
    background: url('/assets/images/page-not-found/bars.png');
    display: inline-block;
    width: 466px;
    height: 276px;
  }
}
