<div class="page-not-found text-center">
  <img
    class="image"
    src="/assets/images/page-not-found/vinyl.png"
  />
  <div class="error-code">
    {{ 'page_not_found.error_code' | translate }}
  </div>
  <div class="not-found">
    {{ 'page_not_found.not_found' | translate }}
  </div>
  <div class="description">
    {{ 'page_not_found.description' | translate }}
  </div>
  <div class="button-container">
    <p-button
      [label]="'page_not_found.go_back_home' | translate"
      routerLink="/"
      styleClass="ui-button color"
    ></p-button>
  </div>
</div>
