<mat-form-field appearance="none" floatLabel="always">
  <mat-label>Playlist name</mat-label>
  <input type="text" [(ngModel)]="playlistName" required matInput />
</mat-form-field>

<div fxLayout="column" fxLayoutGap="15px">
  <button mat-flat-button color="accent" matDialogClose (click)="createPlaylist()" [disabled]="!playlistName">Create</button>
  <button mat-stroked-button matDialogClose>Cancel</button>
</div>
