<div class="wrapper">
  <div fxLayout fxLayoutAlign="center center">
    <div class="step-form-container" fxFlex="100">

      <mat-accordion class="example-headers-align">
        <form [formGroup]="bankFormGroup">
          <!--loop packages-->

          <mat-expansion-panel style="opacity: 1">
            <mat-expansion-panel-header>
              <mat-panel-title>BANK DETAILS</mat-panel-title>
            </mat-expansion-panel-header>

            <mat-form-field
              class="bank_spacing"
              appearance="none"
              floatLabel="always"
            >
              <mat-label>Bank Account Holder Name</mat-label>
              <input formControlName="BankAccountHolderName" matInput required />
            </mat-form-field>

            <mat-form-field
              class="bank_spacing"
              appearance="none"
              floatLabel="always"
              style="margin: 0"
            >
              <mat-label>Recipient Email Address</mat-label>
              <input formControlName="RecipientEmailAddress" matInput required />
            </mat-form-field>

            <mat-form-field
              class="bank_spacing"
              appearance="none"
              floatLabel="always"
            >
              <mat-label>Bank Name</mat-label>
              <input formControlName="BankName" matInput required />
            </mat-form-field>

            <mat-form-field
              class="bank_spacing"
              appearance="none"
              floatLabel="always"
            >
              <mat-label>Bank Account Number</mat-label>
              <input formControlName="BankAccountNumber" matInput required />
            </mat-form-field>

            <mat-form-field
              class="bank_spacing"
              appearance="none"
              floatLabel="always"
            >
              <mat-label>Bank Sort Code</mat-label>
              <input formControlName="BankSortCode" matInput required />
            </mat-form-field>

            <div fxLayout="row" fxLayoutAlign="center center">
                <button
                  (click)="bankAddRecipient()"
                  [disabled]="!bankFormGroup.valid"
                  class="complete-button bank_spacing"
                  color="primary"
                  mat-flat-button
                >
                  UPDATE BANK DETAILS
                </button>
              </div>

          </mat-expansion-panel>

          <!--loop packages-->




        </form>
      </mat-accordion>
    </div>
  </div>
</div>
