@import "../../../styles.scss";
mat-expansion-panel {
  position: relative;
  text-align: left;
  h2, h4 {
      text-align: center;
  }
  .highlight-pointers {
    &.highlight {
      color: map-get($mat-primary, main);
      display: block;
    }
    &.nohighlight {
        color: map-get($mat-dark-theme-foreground, disabled-text);
    }
    .left-arrow .material-icons {
      position: absolute;
      top: 106px;
      right: -7px;
      font-size: 2rem;
    }
    .right-arrow .material-icons {
      position: absolute;
      top: 106px;
      left: -6px;
      font-size: 2rem;
    }
  }
}

.mat-expansion-panel-header {
  padding: 16px 16px;
}

.bank_spacing {
  width: -webkit-fill-available !important;
  margin: 16px !important;
}

